@import '../../../core/sass/variables.sass';
@import '../../../core/sass/mixines.sass';
@import '../../../core/sass/hacks.sass';
@import '../../../core/sass/fonts.sass';

// Barra superior de titulo de la pagina y back
.sombra
    border-bottom: 1px solid #DDD
    box-shadow: 0 4px 2px -2px #DDD
    -moz-box-sizing: content-box
    -webkit-box-sizing: content-box
    box-sizing: content-box
    background: #fff
    
.container
    width: 95%
    max-width: 100%
    margin: auto
    +mediaMax960
    width: 100%
.width100
    width: 100% !important
    
.back
    position: relative
    +aReset
    &:before
        content: '\f104'
        font-family: 'FontAwesome'
        color: $gris
        position: absolute
        left: $spacer
        top: $min-spacer/2
        font-size: 20px
    &:after
        content: "Regresar"
        position: absolute
        margin-left: 50px
        color: $gris
        margin-top: 10px
        font-size: 15px
        +mediaMax480
.flex
    +flex
    width: 100%
.text-align
    text-align: center !important
    margin: auto
.paddingB_22
    padding-bottom: 22px!important
    +bx
.paddingT_22
    padding-top: 22px!important
    +bx
.borderB
    border-bottom: 1px solid $grisClaro
.white
    background: $blanco

//---------------------bancos
.noLink
  text-decoration: none
  color: $negro
.container
  .width100
    width: 100%
.pagos
  +bx
  +shadow($type: box , $s1: 1px, $s2: 2px, $s3: 10px, $alpha: rgba(0,0,0,0.1))
  // padding: $spacer/2
  margin-bottom: $min-spacer
  position: relative
  background-color: $blanco
  cursor: pointer
  .cont-img-pagos
    width: 260px
    margin: auto
    padding-left: 10px
    display: flex !important
    .imgPagos
      background-size: contain
      max-width: 180px
      +flex
    //   margin: auto
      height: 100%
      margin-right: 30px
  a
    +flex
    width: 100%
    padding: 3px 18px
    +bx
  .forma-pago
    width: 100%
    +bx
    padding: $min-spacer
    +flex
    +justifyCont(space-between)
    i
      border: solid $gris
      border-width: 0 1px 1px 0
      padding: 8px
      width: 0px
      height: 0px

+mediaMax960
  .cont-img-pagos
    max-width: 60px
    background-size: contain
    overflow: hidden
    .imgPagos
      width: 100%
  .forma-pago
    width: 98%

.flex
	+flex
	width: 100%
.flex-between
	+justifyCont(space-between)
.flex-wrap
	+flexWrap
.flex-dir
	flex-direction: row
	+mediaMax960
		flex-direction: column-reverse
.minHeight
	min-height: 100vh
	padding-bottom: 60px
	+bx
.width60
	width: calc(100% - 460px)
	.displayMob
		display: none
	+mediaMax960
		width: 100%
		&.order1
			order: 1 !important
		&.order2
			order: 2 !important
		.order1
			order: 1 !important
		.order2
			order: 2 !important
		.displayMob
			display: none !important
.labelBanco
    font-weight: 700
    color: #727474
ul .pagos
    list-style: none !important
.pagos
	+bx
	margin-bottom: $min-spacer
	position: relative
	background-color: $blanco
	cursor: pointer
    
	.cont-img-pagos
		width: 260px
		margin: auto
		padding-right: 10px
		+mediaMax960
			padding: 0 $min-spacer
		.imgPagos
			background-size: contain
			max-width: 180px
			+flex
			margin: auto
			height: 100%
	a
		+flex
		width: 100%
		padding: 5px
		+bx
	.forma-pago
		width: 100%
		+bx
		padding: $min-spacer $min-spacer $min-spacer 0px
		+flex
		+justifyCont(space-between)

	+mediaMax960
		.cont-img-pagos
			max-width: 100px
			background-size: contain
			overflow: hidden
			.imgPagos
				width: 100%


		.forma-pago
			width: 98%
.marginT_8
	margin-top: 8px !important
.modulo
	margin: 16px auto
	width: 100%
	background-color: white
	padding: 29px
	+bx
	&.sinBack
		background: $trans
.paddingT_0
    padding-top: 0px !important
.padding_25
	padding: $min-spacer !important
	+bx
.paddingT_22
	padding-top: 22px!important
	+bx
.paddingB_22
	padding-bottom: 22px!important
	+bx

.right 
    transform: rotate(-45deg)
span i 
    border: solid #acaeae
    border-width: 0 1px 1px 0
    padding: 8px
    margin-top: -10px
    width: 0
    height: 0
    vertical-align: -webkit-baseline-middle
i
    border: solid #fff
    border-width: 0 1px 1px 0
    display: inline-block
    padding: 4px
    margin-left: 10px
//--------------------------------seccion detalle de compra
.width40
    width: 420px
    margin-right: 40px
    .displayMob
        display: block
        +mediaMax960
        width: 100%

        .displayMob
            display: none !important
        &.order0
            order: 0 !important
.sticky
    position: -webkit-sticky
    position: sticky
    top: $spacer
    +mediaMax960
    position: initial
.marginT_32
    margin-top: 0px !important
.marginT_20
    margin-top: 20px !important
.detalleCompra
    display: block
    label
        &:hover
            cursor: pointer
.verMob
    display: none !important
    +mediaMax960
    display: block !important
.modulo
    margin: 16px auto
    width: 100%
    background-color: white
    padding: 29px
    +bx
.padding_25
    padding: $min-spacer !important
    +bx
.borderB
    border-bottom: 1px solid $grisClaro
.down
    position: relative
    &:after
        content: '\f078'
        font-family: 'FontAwesome'
        color: black
        font-size: 12px
        position: absolute

#btn-producto
    +mediaMax960
    &:checked
        + .productList
            display: block !important
            margin-top: -33px

.paddingB_0
    padding-bottom: 0 !important
    
.paddingT_0
    padding-top: 0px !important

.flex 
    display: -ms-flexbox
    webkit-display: -webkit-flex
    display: flex
    width: 100%
.flex-between
    justify-content: space-between
    -webkit-justify-content: space-between
    -moz-justify-content: space-between
    -ms-flex-pack: space-between
    -ms-flex-pack: justify
.flex-wrap
    flex-wrap: wrap
    -webkit-box-wrap: wrap
    -webkit-flex-wrap: wrap
    -ms-flex-wrap: wrap
.flex-dir
    flex-direction: row

.back
    position: relative
    +aReset
    &:before
        content: '\f104'
        font-family: 'FontAwesome'
        color: $gris
        position: absolute
        left: $spacer
        top: $min-spacer/2
        font-size: 20px
    &:after
        content: "Regresar" !important
        position: absolute
        margin-left: 50px
        color: $gris
        margin-top: 10px
        font-size: 15px
        +mediaMax480
        content: ''
.tituloPrincipal
    font-size: 20px
    padding: 8px 0

.btn-azul
    +btn($bg:#e2231a, $color: $blanco, $borde: 1px solid $blanco, $ancho: table, $border-radius: 4px)
    +gradient(180deg, #e2231a, #a60807)
    margin-top: 19px
.flexflex
    display: flex
.marginLeft
    margin-left: 16px !important
.radioB
    margin: 8px 0
    background: url(/assets/radiotbtns-state-small2.webp) 0 1px no-repeat
    width: 100%
    display: inline-block
    height: 16px
.Activeradio
    background: url(/assets/radiotbtns-state-small2.webp) 0 -15px no-repeat
    margin-right: 20px


input[type="radio"] 
    display: none

label i:first-child 
    color: gray

input[type="radio"]:checked + label .fa-circle
    display: block
    color: DarkTurquoise
.label
    margin-left: 16px
    position: relative
    cursor: pointer