<app-path [ruta]="ruta" *ngIf="breadcrumb"></app-path>

<div class="container width100 sombra">
  <div class="borderB white paddingB_22 flex paddingT_22">
    <a *ngIf="id == 0" routerLink="/formas-pago" class="back"></a>
    <a *ngIf="id > 0" routerLink="/formas-pago/guardadas" class="back"></a>
    <h2 class="text-align">{{title}}</h2>
  </div>
</div>

<div class="container minHeight">
  <div class="flex flex-between flex-wrap flex-dir">
    <!-- seccion bancos -->
    <div class="marginMob width60 order1">
      <div class="modulo sinBack paddingT_0">
        <ul>
          <ng-container *ngFor="let banco of bancos">
            <li class="pagos">
              <a class="noLink padding_25" (click)="selectBanco($event, banco.nombre)">
                <div class="cont-img-pagos">
                  <img class="imgPagos" src="{{banco.img}}" alt="{{banco.nombre}}"><label class="labelBanco"> {{banco.nombre}}</label>
                </div>
                <span class="marginT_8"><i class="right gray"> </i></span>
              </a>
            </li>
          </ng-container>
        </ul>
      </div>
    </div>

    <!-- detalle de compra -->
    <div class="width40  widthMob ">
      <div class="sticky">
        <div class="marginT_32">
          <div class="detalleCompra">
            <label for="btn-producto" class="verMob modulo padding_25 borderB">
              <div class="flex flex-between ">
                <span>Detalles de tu compra </span>
                <i class="down"></i>
              </div>
            </label>
            <input type="checkbox" id="btn-producto" hidden>

            <div class="productList modulo padding32 paddingB_0 paddingT_0 ">
              <app-resumen-compra #detalle></app-resumen-compra>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>