@import '../../../core/sass/fonts';
@import '../../../core/sass/hacks';
@import '../../../core/sass/mixines';
@import '../../../core/sass/variables';

.pay
    width: 50%
    +mediaMax320
        max-width: 140px

span
	i
		border: solid $gris
		border-width: 0 1px 1px 0
		padding: 8px
		margin-top: -10px
		width: 0px
		height: 0px
		vertical-align: -webkit-baseline-middle

.flex
	+flex
	width: 100%
.flex-between
	+justifyCont(space-between)
.flex-end
	+justifyCont(flex-end)
.paddingT_0
    padding-top: 0px !important
.bold
    font-weight: 700
.width100
	width: 100% !important
.paddingT_25
	padding-top: $min-spacer !important
.paddingB_25
	padding-bottom: $min-spacer !important
.text-align
	text-align: center !important
	margin: auto
.w50
	width: 100px
	+mediaMax480
		width: 100px !important
.table
	display: table-column
	+mediaMax480
		display: contents
.paddingR_0
	padding-right: 0px !important
.btn-blanco
	+btn($bg: $blanco, $color: $grisLabel, $borde: 1px solid $gris, $ancho: table, $border-radius: 4px)
	min-width: 100px
	border: 1px solid $gris !important
	margin: 0px 15px  10px 0px
	+mediaMax480
		min-width: 48%
.marginT_64
	margin-top: -36px !important
.verDesk
	display: block !important
	+mediaMax960
		display: none !important
.verMob
	display: none !important
	+mediaMax960
		display: block !important
.right
	transform: rotate(-45deg)