<app-path [ruta]="ruta"></app-path>

<div class="container width100 sombra">
  <div class="flex borderB white paddingB_22 paddingT_0 paddingT_19">
    <a (click)="routerBack()" class="back"></a>
    <h2 class="text-align tituloPrincipal">{{title}}</h2>
  </div>
</div>

<div class="container">
  <div class="flex flex-around flex-wrap flex-dir">

    <div class="marginMob width60 order1">
      <div class="modulo">
        <div class="flex flex-end">
          <p class="small grisTxt">*Campos obligatorios</p>
        </div>

        <div class="flex">
          <p id="titulo2">Datos de quien recibe</p>
        </div>

        <form [formGroup]="formularioDireccion">
          <div class="form-row width30 marginR_22">
            <input type="text" maxlength="25" formControlName="nombre"
              [ngClass]="{'error': ( saveClicked && formularioDireccion.controls['nombre'].invalid) || (formularioDireccion.controls['nombre'].invalid && formularioDireccion.controls['nombre'].dirty) }">
            <label data-placeholder="Nombre*" alt="Label"></label>
          </div>

          <div class="form-row width30 marginR_22">
            <input type="text" maxlength="25" formControlName="apellidoP"
            [ngClass]="{'error': formularioDireccion.controls['apellidoP'].invalid && saveClicked || formularioDireccion.controls['apellidoP'].invalid && formularioDireccion.controls['apellidoP'].dirty}">
            <label data-placeholder="Apellido Paterno*" alt="Label"></label>
          </div>

          <div class="form-row width30">
            <input type="text" maxlength="25" formControlName="apellidoM"
            [ngClass]="{'error': formularioDireccion.controls['apellidoM'].invalid && saveClicked || formularioDireccion.controls['apellidoM'].invalid && formularioDireccion.controls['apellidoM'].dirty}">
            <label data-placeholder="Apellido Materno*" alt="Label"></label>
          </div>

          <div class="form-row">
            <input type="text" maxlength="25" formControlName="telefono"
            [ngClass]="{'error': formularioDireccion.controls['telefono'].invalid && saveClicked || formularioDireccion.controls['telefono'].invalid && formularioDireccion.controls['telefono'].dirty}">
            <label data-placeholder="Teléfono de Contacto*" alt="Label"></label>
          </div>

          <div class="form-row">
            <input type="text" maxlength="25" formControlName="calle"
            [ngClass]="{'error': formularioDireccion.controls['calle'].invalid && saveClicked || formularioDireccion.controls['calle'].invalid && formularioDireccion.controls['calle'].dirty}">
            <label data-placeholder="Calle*" alt="Label"></label>
          </div>

          <div class="form-row width50p marginR_23">
            <input type="text" maxlength="25" formControlName="numExterior"
            [ngClass]="{'error': formularioDireccion.controls['numExterior'].invalid && saveClicked || formularioDireccion.controls['numExterior'].invalid && formularioDireccion.controls['numExterior'].dirty}">
            <label data-placeholder="Número Exterior*" alt="Label"></label>
          </div>

          <div class="form-row width50p">
            <input type="text" maxlength="25" formControlName="numInterior">
            <label data-placeholder="Número Interior" alt="Label"></label>
          </div>

          <div class="form-row width50p marginR_23">
            <input type="text" maxlength="25" formControlName="cp"
            [ngClass]="{'error': formularioDireccion.controls['cp'].invalid && saveClicked || formularioDireccion.controls['cp'].invalid && formularioDireccion.controls['cp'].dirty}">
            <label data-placeholder="C.P.*" alt="Label"></label>
          </div>

          <div class="width50p">
            <button class="btn-azul width100 marginB_32">Validar Código
              Postal</button>
          </div>

          <div class="form-row">
            <span class="select">
              <select name="colonia" formControlName="colonia">
                <option value="undefined" disabled [attr.selected]="default">Seleccionar</option>
                <!-- <option *ngFor="let colo of colonias" [value]="colo"
                  [attr.selected]="direccion.colonia == colo ? true : null"> {{colo}} </option> -->
              </select>
              <label data-placeholder="Colonia*" alt="Label"></label>
            </span>

          </div>

          <div class="form-row">
            <input type="text" maxlength="25" formControlName="municipio"
            [ngClass]="{'error': formularioDireccion.controls['municipio'].invalid && saveClicked || formularioDireccion.controls['municipio'].invalid && formularioDireccion.controls['municipio'].dirty}">
            <label data-placeholder="Municipio o Delegación*" alt="Label"></label>
          </div>

          <div class="form-row">
            <input type="text" maxlength="25" formControlName="estado"
            [ngClass]="{'error': formularioDireccion.controls['estado'].invalid && saveClicked || formularioDireccion.controls['estado'].invalid && formularioDireccion.controls['estado'].dirty}">
            <label data-placeholder="Estado*" alt="Label"></label>
          </div>

          <div class="form-row">
            <input type="text" maxlength="25" formControlName="ciudad"
            [ngClass]="{'error': formularioDireccion.controls['ciudad'].invalid && saveClicked || formularioDireccion.controls['ciudad'].invalid && formularioDireccion.controls['ciudad'].dirty}">
            <label data-placeholder="Ciudad*" alt="Label"></label>
          </div>

          <div class="form-row width50p marginR_23">
            <input type="text" maxlength="25" formControlName="entreCalles">
            <label data-placeholder="Entre calle" alt="Label"></label>
          </div>

          <div class="form-row width50p">
            <input type="text" maxlength="25" formControlName="yCalle">
            <label data-placeholder="y calle" alt="Label"></label>
          </div>

          <div class="form-row">
            <input type="text" maxlength="25" formControlName="referencias">
            <label data-placeholder="Referencias" alt="Label"></label>
          </div>

          <div class="form-row">
            <input type="text" maxlength="25" formControlName="personaAutorizada"
            [ngClass]="{'error': formularioDireccion.controls['personaAutorizada'].invalid && saveClicked || formularioDireccion.controls['personaAutorizada'].invalid && formularioDireccion.controls['personaAutorizada'].dirty}">
            <label data-placeholder="Persona autorizada para recibir el pedido*" alt="Label"></label>
          </div>

          <div class="form-row radio">
            <div class="displayB">
              <label>La entrega es en
                <span [ngClass]="{'errorTexto': formularioDireccion.controls['edificacion'].invalid && saveClicked || formularioDireccion.controls['edificacion'].invalid && formularioDireccion.controls['edificacion'].dirty}">*</span>
              </label>
            </div>

            <div class="width30s">
              <input id="casa" type="radio" value="1" name="edificacion" formControlName="edificacion">
              <label>Casa</label>
            </div>
            <div class="width30s">
              <input id="edificio" required type="radio" value="2" name="edificacion" formControlName="edificacion">
              <label>Edificio</label>
            </div>
            <div class="width30s">
              <input id="oficina" type="radio" value="3" name="edificacion" formControlName="edificacion">
              <label>Oficina</label>
            </div>
          </div>

          <div class="form-row radio">
            <div class="displayB">
              <label>Nivel
                <span [ngClass]="{'errorTexto': formularioDireccion.controls['nivel'].invalid && saveClicked || formularioDireccion.controls['nivel'].invalid && formularioDireccion.controls['nivel'].dirty}">*</span>
              </label>
            </div>

            <div class="width30s">
              <input required id="casa" type="radio" value="1" name="nivel" formControlName="nivel">
              <label>PB - Piso 1</label>
            </div>
            <div class="width30s">
              <input required id="edificio" required type="radio" value="2" name="nivel" formControlName="nivel">
              <label>Piso 1 al 5</label>
            </div>
            <div class="width30s">
              <input required id="oficina" type="radio" value="3" name="nivel" formControlName="nivel">
              <label>Piso 6 o más alto</label>
            </div>
          </div>

          <div class="form-row radio">
            <div class="displayB">
              <label>Para entregas de gran volúmen se puede usar
                <span [ngClass]="{'errorTexto': formularioDireccion.controls['forma'].invalid && saveClicked || formularioDireccion.controls['forma'].invalid && formularioDireccion.controls['forma'].dirty}">*</span>
              </label>
            </div>

            <div class="width30s">
              <input required id="casa" type="radio" value="1" name="forma" formControlName="forma">
              <label>Escaleras</label>
            </div>
            <div class="width30s">
              <input required id="edificio" required type="radio" value="2" name="forma" formControlName="forma">
              <label>Elevador</label>
            </div>
            <div class="width30s">
              <input required id="oficina" type="radio" value="3" name="forma" formControlName="forma">
              <label>Volado</label>
            </div>
          </div>
        </form>

        <!-- <div class="form-row">
          <label>Nombre de quién recibe: *</label>
          <input type="text" [(ngModel)]="direccion.nombre" [ngClass]="{'error': rules.nombre.error }"
            on-focusout="validateForm('nombre')" placeholder="Ej: Benjamin" maxlength="45">
          <span class="textError" *ngIf="rules.nombre.error">El nombre es requerido.</span>
        </div> -->

        <!-- <div class="form-row">
          <label>Apellido paterno: *</label>
          <input type="text" [(ngModel)]="direccion.apellidoP" id="apellido-paterno" placeholder="Ej: Ramírez"
            [ngClass]="{'error': rules.apellidoP.error }" on-focusout="validateForm('apellidoP')" maxlength="45"
            required>
          <span class="textError" *ngIf="rules.apellidoP.error"> Apellido paterno requerido.</span>
        </div> -->

        <!-- <div class="form-row">
          <label>Apellido materno: *</label>
          <input type="text" [(ngModel)]="direccion.apellidoM" id="apellido-materno" placeholder="Ej: Morales"
            [ngClass]="{'error': rules.apellidoM.error }" on-focusout="validateForm('apellidoM')" maxlength="45">
          <span class="textError" *ngIf="rules.apellidoM.error"> Apellido materno requerido.</span>
        </div> -->

        <!-- <div class="form-row">
          <label>Teléfono de contacto: *</label>
          <input type="text" [(ngModel)]="direccion.telefono" id="telefono" placeholder="Ej: 5512030502"
            [ngClass]="{'error': rules.telefono.error }" on-focusout="validateForm('telefono')" minlength="10"
            maxlength="10">
          <span class="textError" *ngIf="rules.telefono.error">Teléfono a 10 dígitos (LADA y número) requerido.</span>
        </div> -->

        <!-- <div class="form-row">
          <label>Persona autorizada para recibir el pedido: *</label>
          <input type="text" [(ngModel)]="direccion.personaAutorizada" id="persona-autorizada"
            placeholder="Ej: Pedro Morales Hernández" [ngClass]="{'error': rules.personaAutorizada.error }"
            on-focusout="validateForm('personaAutorizada')">
          <span class="textError" *ngIf="rules.personaAutorizada.error"> Persona autorizada para recibir pedido
            requerida.</span>
        </div> -->

        <!-- <h3> {{ title2 }}</h3>
        <div class="form-row">
          <label>Calle: *</label>
          <input type="text" [(ngModel)]="direccion.calle" id="calle" placeholder="Ej: Lago Zurich"
            on-focusout="validateForm('personaAutorizada')" [ngClass]="{'error': rules.calle.error }">
          <span class="textError" *ngIf="rules.calle.error"> La Calle es requerida.</span>
        </div> -->

        <!-- <div class="flex flex-between flex-wrap">
          <div class="form-row col2">
            <label>Número exterior: *</label>
            <input type="text" [(ngModel)]="direccion.nExt" id="nexterior" placeholder="Ej: 245"
              [ngClass]="{'error': rules.nExt.error }" on-focusout="validateForm('nExt')">
            <span class="textError" *ngIf="rules.nExt.error"> Número exterior requerido.</span>
          </div>

          <div class="form-row col2">
            <label>Número interior:</label>
            <input type="text" [(ngModel)]="direccion.numeroInterior" id="ninterior" placeholder="Ej: 15B">
            <span class="textError" style="visibility: hidden;"> Número interior requerido.</span>
          </div>
        </div> -->

        <!-- <div class="flex flex-between flex-wrap">
          <div *ngIf="error" class="container width80">
            <div class="cont-validacion validacion valOrange marginT_10" [ngClass]="{'none': !hide }">
              <p>{{ mensaje }} <span class="bold"></span></p>
              <button class="btn-rojo init verMob" (click)="hide =! hide">Aceptar</button>
            </div>
          </div> -->

        <!-- <div class="form-row col2">
            <label>Código Postal: *</label>
            <input #codigoPostal="ngModel" type="text" id="cp" placeholder="Ej: 02450"
              [(ngModel)]="direccion.codigoPostal" on-focusout="getZoning(codigoPostal.value)"
              [ngClass]="{'error': rules.codigoPostal.error }">
            <span class="textError" *ngIf="rules.codigoPostal.error">Código postal requerido.</span>
          </div> -->

        <!-- <div class="col2">
            <button class="btn-azul width100 marginB_32" (click)="getZoning(codigoPostal.value)">Validar Código
              Postal</button>
          </div> -->
        <!-- </div> -->

        <!-- <div class="form-row" *ngIf="mostrarCampos">
          <label>Colonia: *</label>
          <span class="select">
            <select id="colonia" placeholder="Ej: Ampliación Granada" [(ngModel)]="direccion.colonia" required
              #colonia="ngModel">
              <option value="undefined" disabled [attr.selected]="default"> Seleccione una...</option>
              <option [value]="zona.municipio" *ngFor="let zona of zonas; let i = index"
                [attr.selected]="direccion.municipio"> {{ zona.municipio}}</option>
            </select>
          </span>
          <span class="textError" *ngIf="colonia.invalid">La colonia es obligatoria.</span>
        </div> -->

        <!-- <div class="form-row" *ngIf="mostrarCampos">
          <label>Municipio: *</label>
          <input type="text" [(ngModel)]="direccion.municipio" id="municipio" placeholder="Ej: Miguel Hidalgo"
            [ngClass]="{'error': rules.municipio.error }" on-focusout="validateForm('municipio')">
          <span class="textError" *ngIf="rules.municipio.error"> Municipio requerido.</span>
        </div> -->

        <!-- <div class="form-row" *ngIf="mostrarCampos">
          <label>Estado: *</label>
          <input type="text" [(ngModel)]="direccion.estado" id="estado" placeholder="Ej: Ciudad de México"
            [ngClass]="{'error': rules.estado.error }" on-focusout="validateForm('estado')">
          <span class="textError" *ngIf="rules.estado.error"> Estado requerido.</span>
        </div> -->

        <!-- <div class="form-row" *ngIf="mostrarCampos">
          <label>Ciudad: *</label>
          <input type="text" [(ngModel)]="direccion.ciudad" id="ciudad" placeholder="Ej: Ciudad de México"
            [ngClass]="{'error': rules.ciudad.error }" on-focusout="validateForm('ciudad')">
          <span class="textError" *ngIf="rules.ciudad.error"> Ciudad requerida.</span>
        </div> -->

        <!-- <div class="form-row" *ngIf="mostrarCampos">
          <label>Entre calles:</label>
          <input type="text" id="entreCalles" placeholder="Ej: Presa Falcón">
        </div> -->

        <!-- <div class="form-row" *ngIf="mostrarCampos">
          <label>Referencia:</label>
          <input type="text" id="referencia" placeholder="Ej: Junto al museo Soumaya">
        </div> -->

        <!-- <div class="form-row" *ngIf="mostrarCampos">
          <label>La entrega es en: *</label>
          <div>
            <input required on-focusout="validateForm('entrega')" [(ngModel)]="direccion.entrega" id="casa" type="radio"
              #entrega="ngModel" required value="1" name="entrega">
            <label>Casa: </label>
          </div>
          <div>
            <input required on-focusout="validateForm('entrega')" [(ngModel)]="direccion.entrega" id="edificio"
              #entrega="ngModel" required type="radio" value="2" name="entrega">
            <label>Edificio: </label>
          </div>
          <div>
            <input required on-focusout="validateForm('entrega')" [(ngModel)]="direccion.entrega" id="oficina"
              #entrega="ngModel" required type="radio" value="3" name="entrega">
            <label>oficina: </label>
          </div>

          <span class="textError" *ngIf="entrega.invalid && presiono === true">El campo entrega es obligatorio.</span>
        </div> -->

        <!-- <div class="form-row" *ngIf="mostrarCampos">
          <label>En el nivel: *</label>
          <div>
            <input required on-focusout="validateForm('nivel')" [(ngModel)]="direccion.nivel" id="primero" type="radio"
              required #nivel="ngModel" value="1" name="nivel">
            <label>Planta baja - 1er piso </label>
          </div>
          <div>
            <input required on-focusout="validateForm('nivel')" [(ngModel)]="direccion.nivel" id="segundo" type="radio"
              required #nivel="ngModel" value="2" name="nivel">
            <label>2do piso - 5to piso </label>
          </div>
          <div>
            <input required on-focusout="validateForm('nivel')" [(ngModel)]="direccion.nivel" id="tercero" type="radio"
              required #nivel="ngModel" value="3" name="nivel">
            <label>5to piso o más </label>
          </div>

          <span class="textError" *ngIf="nivel.invalid && presiono === true">El campo nivel es obligatorio.</span>
        </div> -->

        <!-- <div class="form-row" *ngIf="mostrarCampos">
          <label>Podemos usar: *</label>
          <div>
            <input id="escaleras" type="radio" value="1" name="uso" on-focusout="validateForm('acceso')"
              [(ngModel)]="direccion.acceso" required #acceso="ngModel">
            <label> Escaleras </label>
          </div>
          <div>
            <input id="elevador" type="radio" value="2" name="uso" on-focusout="validateForm('acceso')"
              [(ngModel)]="direccion.acceso" required #acceso="ngModel">
            <label> Elevador </label>
          </div>
          <div>
            <input id="volado" type="radio" value="3" name="uso" on-focusout="validateForm('acceso')"
              [(ngModel)]="direccion.acceso" required #acceso="ngModel">
            <label> Volado </label>
          </div>

          <span class="textError" *ngIf="acceso.invalid && presiono === true">El campo es obligatorio.</span>
        </div> -->


      </div>
      <!-- boton continuar -->
      <div class="cont-btn">
        <button type="submit" class="btn-rojo text-align" (click)="save()">Continuar
          <i class="right"></i></button>
      </div>
    </div>

    <!-- modulo1 detalle compra-->
    <div class="width40  widthMob">
      <div class="sticky">
        <div class="marginT_32">
          <div class="detalleCompra">
            <label for="btn-producto" class="verMob modulo padding_25 borderB">
              <div class="flex flex-between ">
                <span>Detalles de tu compra </span>
                <i class="down"></i>
              </div>
            </label>
            <input type="checkbox" id="btn-producto" hidden>

            <div class="productList modulo padding32 paddingB_0 paddingT_0 ">
              <div class="flex borderB white">
                <h3 id="titulo">{{ title3 }}</h3>
              </div>
              <app-resumen-compra #detalle></app-resumen-compra>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>