<app-path [ruta]="ruta"></app-path>

<div class="container width100 sombra">
  <div class="flex borderB white paddingB_22 paddingT_22">
    <a routerLink="{{url}}" class="back"></a>
    <h2 class="text-align">{{title}}</h2>
  </div>
</div>

<div class="container minHeight">
  <div class="flex1 flex-between flex-wrap flex-dir">
    <div class="marginMob width60 order1">

      <div class="modulo sinBack padding_0">
        <ul>
          <ng-container *ngFor="let formaDePago of formasDePago ">
            <li class="pagos">
              <a class="noLink" (click)="setFormaDePago(formaDePago.idFormadePago)">
                <div class="cont-img-pagos">
                  <img src="{{assets[formaDePago.idFormadePago]?.img}}"
                    alt="{{assets[formaDePago.idFormadePago]?.name}}" class="imgPagos">
                </div>

                <div class="forma-pago">
                  {{assets[formaDePago.idFormadePago]?.name}} <span><i class="right gray"> </i></span>
                </div>
              </a>
            </li>
          </ng-container>
        </ul>
      </div>
    </div>

    <!-- Modulo detalle de compra -->
    <div class="width40  widthMob ">
      <div class="sticky">
        <div class="marginT_32">
          <div class="detalleCompra">
            <label for="btn-producto" class="verMob modulo padding_25 borderB">
              <div class="flex flex-between ">
                <span>Detalles de tu compra </span>
                <i class="down"></i>
              </div>
            </label>
            <input type="checkbox" id="btn-producto" hidden>

            <div class="productList modulo padding32 paddingB_0 paddingT_0 ">
              <app-resumen-compra #detalle></app-resumen-compra>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>