@import '../../core/sass/variables.sass';
@import '../../core/sass/mixines.sass';
@import '../../core/sass/hacks.sass';
@import '../../core/sass/fonts.sass';

.sombra
    border-bottom: 1px solid #DDD
    box-shadow: 0 4px 2px -2px #DDD
    -moz-box-sizing: content-box
    -webkit-box-sizing: content-box
    box-sizing: content-box
    background: #fff
    
.container
    width: 95%
    max-width: 100%
    margin: auto
    +mediaMax960
    width: 100%
.width100
    width: 100% !important
.width60
    width: calc(100% - 460px)
    .displayMob
        display: none
        +mediaMax960
        width: 100%
        &.order1
            order: 1 !important
        .order1
            order: 1 !important
.modulo
    margin: 16px auto
    width: 100%
    background-color: white
    padding: 29px
    +bx
    &.sinBack
        background: $trans
    &.padding_0
        padding: 0 !important

.noLink
    text-decoration: none
    color: $negro
.pagos
    +bx
    margin-bottom: $min-spacer
    position: relative
    background-color: $blanco
    cursor: pointer
    display: flex
    width: 95%
    .cont-img-pagos
        width: 260px
        margin: auto
        padding-right: 10px
        +mediaMax960
        padding: 0 $min-spacer
        .imgPagos
            background-size: contain
            max-width: 100px
            +flex
            margin: auto
            height: 100%
            max-height: 35px
    a
        +flex
        width: 100%
        padding: 5px
        +bx
    .forma-pago
        width: 100%
        +bx
        padding: $min-spacer $min-spacer $min-spacer 0px
        +flex
        +justifyCont(space-between)
        +mediaMax960
        .cont-img-pagos
            max-width: 100px
            background-size: contain
            overflow: hidden
            .imgPagos
                width: 100%
        .forma-pago
            width: 98%
        span i 
            border: solid #acaeae
            border-width: 0 1px 1px 0
            padding: 8px
            margin-top: -10px
            width: 0
            height: 0
            vertical-align: -webkit-baseline-middle

//flecha next
i
    border: solid $blanco
    border-width: 0 1px 1px 0
    display: inline-block
    padding: 4px
    margin-left: 10px

.right
    transform: rotate(-45deg)

.back
    position: relative
    +aReset
    &:before
        content: '\f104'
        font-family: 'FontAwesome'
        color: $gris
        position: absolute
        left: $spacer
        top: $min-spacer/2
        font-size: 20px
    &:after
        content: "Regresar"
        position: absolute
        margin-left: 50px
        color: $gris
        margin-top: 10px
        margin-bottom: 10px
        font-size: 15px
        +mediaMax480
.flex, .flex1
    +flex
    width: 100%
.text-align
    text-align: center !important
    margin: auto
.paddingB_22
    padding-bottom: 22px!important
    +bx
.paddingT_22
    padding-top: 22px!important
    +bx
.borderB
    border-bottom: 1px solid $grisClaro
.white
    background: $blanco

// seccion detalle de compra
.width40
    width: 420px
    margin-right: 40px
    .displayMob
        display: block
        +mediaMax960
        width: 100%

        .displayMob
            display: none !important
        &.order0
            order: 0 !important
.sticky
    position: -webkit-sticky
    position: sticky
    top: $spacer
    +mediaMax960
    position: initial
.marginT_32
    margin-top: 0px !important
.detalleCompra
    display: block
    label
        &:hover
            cursor: pointer
.verMob
    display: none !important
    +mediaMax960
    display: block !important
.modulo
    margin: 16px auto
    width: 100%
    background-color: white
    padding: 29px
    +bx
.padding_25
    padding: $min-spacer !important
    +bx
.borderB
    border-bottom: 1px solid $grisClaro
.down
    position: relative
    &:after
        content: '\f078'
        font-family: 'FontAwesome'
        color: black
        font-size: 12px
        position: absolute

#btn-producto
    +mediaMax960
    &:checked
        + .productList
            display: block !important
            margin-top: -33px

.paddingB_0
    padding-bottom: 0 !important
    
.paddingT_0
    padding-top: 0px !important

.flex 
    display: -ms-flexbox
    webkit-display: -webkit-flex
    display: flex
    width: 100%
.flex-between
    justify-content: space-between
    -webkit-justify-content: space-between
    -moz-justify-content: space-between
    -ms-flex-pack: space-between
    -ms-flex-pack: justify
.flex-wrap
    flex-wrap: wrap
    -webkit-box-wrap: wrap
    -webkit-flex-wrap: wrap
    -ms-flex-wrap: wrap
.flex-dir
    flex-direction: row

.back
    position: relative
    +aReset
    &:before
        content: '\f104'
        font-family: 'FontAwesome'
        color: $gris
        position: absolute
        left: $spacer
        top: $min-spacer/2
        font-size: 20px
    &:after
        content: "Regresar" !important
        position: absolute
        margin-left: 50px
        color: $gris
        margin-top: 10px
        font-size: 15px
        +mediaMax480
        content: ''
.tituloPrincipal
    font-size: 20px
    padding: 8px 0

