<div *ngIf="infoCargada" class="modulo marginB_0 paddingL_0 paddingR_0 ">
  <!-- <h3 class="bold">Tu compra</h3> -->

  <!-- modulo articulos -->
  <!-- <div class="flex borderB paddingB_25 paddingT_25">
    <div class="productoCarrito">
      <img>
    </div>
    <div class="marginL_10">
      <p class="bold"> </p>
      <p>Cantidad: <span></span></p>
      <p> Precio:<span class="tachado"></span></p>
      <p>Precio Final: <span></span></p>
    </div>
  </div> -->

  <div class="flex flex-around paddingT_25 paddingB_0  margin_T">
    <div class="width50">
      <p class="borderBottom">Subtotal: <span class="text-azul floatR"> $monto</span></p>
      <p class="borderBottom">Costo de entrega<br>
        <span class="costo">(Se calculará de acuerdo a tu dirección de entrega)</span> <span
          class="text-azul floatR">$monto</span></p>
      <p class="borderBottom "><a class="btn-cupon" (click)="ver_cupon()">Ingresa tu cupón</a></p>
      <div *ngIf="banderaCupon" class="cuponesCont">
        <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
          <input type="text" id="cupon" name="cupon" placeholder="Escribe el código"
            formControlName="cupon">
          <button type="submit" id="button_cupon" name="button_cupon" class="redBtn"> Ingresar</button>
        </form>
      </div>
      <p class="bold text-amarillo borderBottom">Descuento: <span class="text-amarillo floatR">-$monto</span></p>
      <p class="bold text-gris">Total: <span class="text-azul floatR"> $monto</span></p>
    </div>
  </div>
</div>