@import '../../core/sass/variables.sass';
@import '../../core/sass/mixines.sass';
@import '../../core/sass/fonts.sass';
@import '../../core/sass/hacks.sass';

.margin_T
    margin-top: 30px
.bold
    font-weight: 700 !important
.text-rojo
    color: $primario
.text-amarillo
    color: $amarillo
.text-gris
    color: $grisLabel
.text-azul
    color: $azul
.borderBottom
    border-bottom: 1px solid #DDD
    overflow: hidden
    padding: 8px 0
.floatR
    float: right
.costo
    font-size: .7rem
.btn-cupon
    text-decoration: none!important
    color: #666
    border-bottom: 1px solid #4990e2
    font-size: .9rem
    cursor: pointer
.paddingB_15
    padding-bottom: 15px
.margin5
    margin: 5px !important

.cuponesCont input[type=text] 
    -webkit-appearance: none
    -moz-appearance: none
    appearance: none
    -moz-box-sizing: border-box
    -webkit-box-sizing: border-box
    box-sizing: border-box
    padding: 8px
    background: #f2f2f2
    border: 1px solid #DDD
    width: 100%
    height: 40px
    color: #666
    border-radius: 5px
    margin: 8px 0
    font-size: .8rem
    font-weight: 300
    cursor: pointer!important
.cuponesCont .redBtn
    display: block
    margin: 16px auto 0
    width: 120px!important
    max-width: 280px
.redBtn 
    transition: all .3s
    box-sizing: border-box
    border-radius: 50px!important
    background-color: #EB0028
    border: 1px solid #EB0028
    padding: 8px 16px
    font-size: 13px!important
    text-align: center!important
    text-decoration: none
    font-weight: 300!important
    color: #fff!important
