<app-path [ruta]="ruta" *ngIf="breadcrumb"></app-path>

<div class="container width100">
  <div class="borderB white paddingB_22 flex paddingT_22">
    <a *ngIf="id == 0" routerLink="/formas-pago" class="back"></a>
    <a *ngIf="id > 0" routerLink="/formas-pago/guardadas" class="back"></a>
    <h2 class="text-align">{{title}}</h2>
  </div>

</div>