@import '../../core/sass/variables.sass';
@import '../../core/sass/mixines.sass';
@import '../../core/sass/hacks.sass';
@import '../../core/sass/fonts.sass';

// Barra superior de titulo de la pagina y back
.sombra
    border-bottom: 1px solid #DDD
    box-shadow: 0 4px 2px -2px #DDD
    -moz-box-sizing: content-box
    -webkit-box-sizing: content-box
    box-sizing: content-box
    background: #fff
.container
    width: 95%
    max-width: 100%
    margin: auto
    +mediaMax960
    width: 100%
.width100
    width: 100% !important
.width60
	width: calc(100% - 460px)
	.displayMob
		display: none
	+mediaMax960
		width: 100%
.width40
	width: 420px
	.displayMob
		display: block
	+mediaMax960
		width: 100%
		.displayMob
			display: none !important
		&.order0
           	order: 0 !important
.sticky
	position: -webkit-sticky
	position: sticky
	top: $spacer
	+mediaMax960
		position: initial
    
.back
    position: relative
    +aReset
    &:before
        content: '\f104'
        font-family: 'FontAwesome'
        color: $gris
        position: absolute
        left: $spacer
        top: $min-spacer/2
        font-size: 20px
    &:after
        content: "Regresar" !important
        position: absolute
        margin-left: 50px
        color: $gris
        margin-top: 10px
        font-size: 15px
        +mediaMax480
.flex
    +flex
    width: 100%
.flex-between
	+justifyCont(space-between)
.flex-wrap
	+flexWrap
.text-align
    text-align: center !important
    margin: auto
.paddingB_22
    padding-bottom: 22px!important
    +bx
.paddingT_22
    padding-top: 22px!important
    +bx
.borderB
    border-bottom: 1px solid $grisClaro
.white
    background: $blanco


.paddingB_0
	padding-bottom: 0 !important
.paddingT_0
	padding-top: 0 !important
.marginB_18
	margin-bottom: 20px !important
.bold
	font-weight: 700 !important
//------ boton finalizar compra
.widthMob
    +mediaMax960
    width: 100%
    max-width: inherit
    .width40
        width: 100%
        max-width: inherit
.fontSize_plus
	font-size: 1.3em!important
.btn-rojo
	+btn($bg:$primario, $color: $blanco, $borde: 1px solid $blanco, $ancho: table, $border-radius: 4px)
	min-width: 100px
	// +gradient(180deg, #FE3E4B, #E2241C)
	+mediaMax480
		padding: 0.5rem 1rem
		min-width: 100%
	&.sinAccion
		background: $grisClaro !important
		+mediaMax480
			padding: 0.7rem 3rem
i
    border: solid #fff
    border-width: 0 1px 1px 0
    display: inline-block
    padding: 4px
    margin-left: 10px
.right
    transform: rotate(-45deg)

//---------- modulos
.container
	width: 95%
	max-width: 100%
	margin: auto
	+mediaMax960
		width: 100%
.verMob
	display: none !important
	+mediaMax960
		display: block !important

.modulo
    margin: 16px auto
    width: 100%
    background-color: white
    padding: 29px
    box-sizing: border-box
    &:first-child
        padding: $spacer
    &.sinBack
        background: $trans
    +mediaMax960
    p
        line-height: 1.5rem
.modulo.modConfirmacion 
    padding: 16px 32px
    margin-top: 0
    margin-bottom: 0
.direc
    top: -16px
    position: relative

.marginT_0
	margin-top: 0px !important
.marginB_0
	margin-bottom: 0px !important
.text-align
	text-align: center !important
	margin: auto
.paddingL_0
	padding-left: 0px !important
.center
	justify-content: center !important
.hrGris
	border: 0.03rem solid $grisClaro
	display: none
	-webkit-margin-before: 0px
	-webkit-margin-after: 0px
	padding-left: $min-spacer
	padding-right: $min-spacer
.verDesk
	display: block !important
	+mediaMax960
		display: none !important