<app-path [ruta]="ruta"></app-path>

<!-- titulo principal  -->
<div class="container width100 sombra">
  <div class="borderB white paddingB_22 flex paddingT_22">
    <a routerLink="/formas-pago/guardadas" class="back"></a>
    <h2 class="text-align">{{title}}</h2>
  </div>

  <div class="modulo sinBack flex padding_20 marginT_0 marginB_0 verMob">
    <button class="btn-rojo text-align marginB_0 padding_20 fontSize_plus" (click)="pagar()"
      [ngClass]="{'sinAccion': disabled }">Finalizar Pedido<i class="right"></i> </button>
  </div>
</div>

<div *ngIf="isLoad" class="container">
  <div class="flex flex-between flex-wrap">

    <!-- modulo persona que recibe el envío -->
    <div class="width60">
      <div class="marginMob">
        <div class="modulo marginB_0 paddingB_0">
          <app-usuario-component [nombre]="nombre"> </app-usuario-component>
        </div>
      </div>

      <!-- modulo direccion de envio -->
      <div class="marginMob direc">
        <div class="modulo modConfirmacion">
          <h5> direccion de envio</h5>
        </div>
      </div>

      <!-- linea gris -->
      <div class="modulo paddingT_0 paddingB_0">
        <hr class="hrGris">
      </div>

      <!-- forma de pago seleccionada -->
      <div class="marginMob">
        <div class="modulo marginT_0">
          <div class="flex flex-between">
            <div class="width100">
              <h3 class="bold">Forma de Pago</h3>

              <!-- Forma de Pago Deposito / Transferencia  *ngIf="formaPago === 7" -->
              <app-confirmacion-deposito-transferencia [showEdit]="showEdit"></app-confirmacion-deposito-transferencia>
              <!-- Forma de Pago Paypal *ngIf="formaPago === 3"-->
              <app-confirmacion-paypal [showEdit]="showEdit"></app-confirmacion-paypal>
              <!-- Forma de Pago tienda departamental *ngIf="formaPago === 4"-->
              <app-confirmacion-tienda [showEdit]="showEdit" [multipedido]="multipedido"></app-confirmacion-tienda>

            </div>
          </div>

          <!-- boton finalizar pedido [ngClass]="{'sinAccion': disabled }-->
          <div class="modulo marginT_0 paddingL_0 flex center verDesk padding_0 marginB_18">
            <button class="btn-rojo marginB_0 padding_20 fontSize_plus" (click)="pagar()">Finalizar Pedido<i
                class="right"></i></button>
          </div>
        </div>
      </div>

      <!-- linea gris -->
      <div class="modulo paddingT_0 paddingB_0">
        <hr class="hrGris">
      </div>
    </div>

    <!-- modulo detalle de compra -->
    <div class="width40 ">
      <div class=" sticky">
        <div class="modulo padding32 paddingB_0 paddingT_0 marginT_0 marginB_0">
          <h4> Detalle de Compra</h4>
        </div>
      </div>
    </div>
  </div>

  <!-- boton finalizar compra       [ngClass]="{'sinAccion': disabled }"-->
  <div class=" modulo  flex sinBack marginB_0 marginT_0 padding_20 verMob">
    <button class="btn-rojo text-align marginB_0" (click)="pagar()">Finalizar Compra<i class="right"></i> </button>
  </div>
</div>