<div class="flex flex-between paddingT_25 ">
    <div>
        <div>
            <h3 class="bold paddingT_0">Pago en Tienda Departamental</h3>
            <div class="paddingT_0 width100">
                <img  src="../assets/logo-sears1.svg" alt="Sears">
                <p class="paddingT_25 ">Podrás pagar en cualquier <span class="bold">{{tienda}}</span> de la
                    República Mexicana.</p>
                <p class="paddingB_25">Al dar clic en <span class="bold">Finalizar Compra</span>, se
                    mostrarán los detalles para hacer tu depósito</p>
            </div>
        </div>
    </div>
    <div *ngIf="showEdit" class="w50 flex flex-end">
        <div class="table paddingL paddingR_0">
            <button routerLink="/formas-pago/" class="btn-blanco verDesk">Editar</button>
            <a routerLink="/formas-pago/" class="verMob positionR">
                <span><i class="positionA top_31 right gray"> </i></span>
            </a>
        </div>
    </div>
</div>