@import '../../../core/sass/fonts';
@import '../../../core/sass/variables';
@import '../../../core/sass/hacks';
@import '../../../core/sass/mixines';

//-flexbox
.flex
	+flex
	width: 100%
.flex-between
	+justifyCont(space-between)
.flex-end
	+justifyCont(flex-end)
.paddingT_0
	padding-top: 0px !important
.bold
	font-weight: 700 !important
.width100
	width: 100% !important
.paddingT_25
	padding-top: $min-spacer !important
	+bx
.paddingB_25
	padding-bottom: $min-spacer !important
	+bx
.paddingR_0
    padding-right: 0px !important
.positionA
    position: absolute
.positionR
    position: relative
.bold
	font-weight: 700 !important
.w50
	width: 100px
	+mediaMax480
		width: 100px !important
.table
	display: table-column
	+mediaMax480
		display: contents
.btn-blanco
	+btn($bg: $blanco, $color: $grisLabel, $borde: 1px solid $gris, $ancho: table, $border-radius: 4px)
	min-width: 100px
	border: 1px solid $gris !important
	margin: 0px 15px  10px 0px
	+mediaMax480
		min-width: 48%
.verDesk
	display: block !important
	+mediaMax960
		display: none !important
.verMob
	display: none !important
	+mediaMax960
		display: block !important
.top_31
	top: -31px
	right: -2px
i
	border: solid $blanco
	border-width: 0 1px 1px 0
	display: inline-block
	padding: 4px
	margin-left: 10px

.right
	transform: rotate(-45deg)