@import '../../../core/sass/variables.sass';
@import '../../../core/sass/mixines.sass';
@import '../../../core/sass/hacks.sass';
@import '../../../core/sass/fonts.sass';

// Barra superior de titulo de la pagina y back
.container
    width: 95%
    max-width: 100%
    margin: auto
    +mediaMax960
    width: 100%
.width100
    width: 100% !important
    
.back
    position: relative
    +aReset
    &:before
        content: '\f104'
        font-family: 'FontAwesome'
        color: $gris
        position: absolute
        left: $spacer
        top: $min-spacer/2
        font-size: 20px
    &:after
        content: "Regresar"
        position: absolute
        margin-left: 50px
        color: $gris
        margin-top: 10px
        font-size: 15px
        +mediaMax480
.flex
    +flex
    width: 100%
.text-align
    text-align: center !important
    margin: auto
.paddingB_22
    padding-bottom: 22px!important
    +bx
.paddingT_22
    padding-top: 22px!important
    +bx
.borderB
    border-bottom: 1px solid $grisClaro
.white
    background: $blanco