<app-path [ruta]="ruta"></app-path>

<div class="container width100 sombra">
  <div class="flex borderB white paddingB_22 marginT_0 paddingT_19">
    <a routerLink="{{url}}" class="back"></a>
    <h2 class="text-align tituloPrincipal">{{title}}</h2>
  </div>
</div>

<div class="container">
  <div class="flex flex-around flex-wrap flex-dir">

    <div class="marginMob width60 order1">
      <div *ngFor="let direccion of direcciones" class="modulo positionR ">
        <div class="flex botones direccionM" [ngClass]="{active: direccion.accesibilidad == 1}">
          <div class="width50">

            <!-- seccion direccion -->
            <div class="flex">
              <div class="paddingR_32 width100 direccion">
                <p class="bold">{{direccion.nombre}}</p>
                <p> {{direccion.direccion}} {{direccion.numeroExterior}}, {{direccion.numeroInterior}},</p>
                <p> Col. {{direccion.colonia}}, {{direccion.municipio}}</p>
                <p> {{direccion.estado}}, {{direccion.ciudad}}, C.P. {{direccion.codigoPostal}}</p>
                <p>Teléfono: <span>{{direccion.telefono}}</span></p>
              </div>
            </div>
            <!-- seccion direccion predeterminada -->
            <div class="flex paddingB_10 marginT_18">
              <p>
                <!-- <i class="star" *ngIf="direccion.accesibilidad == 1"></i> -->
                <span class="marginL_10 small marginTm5 noPredeterminada"
                  [ngClass]="{'predeterminada': direccion.accesibilidad == 1, 'noPredeterminada': direccion.accesibilidad == 0}"
                  (click)="direccionPorDefecto(direccion.id)">
                  {{ direccion.accesibilidad == 0 ? 'Establecer como predeterminada' : 'Predeterminada' }}
                </span>
              </p>
            </div>


          </div>

          <!-- seccion botones editar / eliminar -->
          <div class="width50 flex flex-end">
            <div class="table paddingL paddingR_0">
              <button class="btn-blanco" routerLink="/direcciones/detalle/{{direccion.id}}">Editar </button>
              <button class="btn-blanco marginR_0" (click)="eliminar(direccion.id)">Eliminar </button>
            </div>
          </div>
        </div>
      </div>

      <!-- barra agregar dirección -->
      <div class="dirElement2">
        <div class="dirElementHead2 desplegableIn colapse emidata4 cont-mas">
          <a class="text-bold" routerLink="/direcciones/agregar">Agregar nueva dirección <i
              class="plus marginL_10"></i></a>
        </div>
      </div>

      <!-- seccion boton enviar -->
      <div class="marginL_40">
        <button class="btn-rojo text-aling" (click)="continuar()">Continuar
          <i class="right"></i>
        </button>
      </div>
    </div>


    <!-- modulo1 detalle compra-->
    <div class="width40  widthMob">
      <div class="sticky">
        <div class="marginT_32">
          <div class="detalleCompra">
            <label for="btn-producto" class="verMob modulo padding_25 borderB">
              <div class="flex flex-between">
                <span>Resumen de compra </span>
                <i class="down"></i>
              </div>
            </label>
            <input type="checkbox" id="btn-producto" hidden>

            <div class="productList modulo padding32 paddingB_0 paddingT_0 ">
              <div class="flex borderB white">
                <h3 id="titulo">{{ title3 }}</h3>
              </div>
              <app-resumen-compra #detalle></app-resumen-compra>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>