@import '../../core/sass/variables.sass';
@import '../../core/sass/mixines.sass';
@import  '../../core/sass/fonts.sass';
@import  '../../core/sass/hacks';

// ------------seccion header--------------
.sombra
    border-bottom: 1px solid #DDD
    box-shadow: 0 4px 2px -2px #DDD
    -moz-box-sizing: content-box
    -webkit-box-sizing: content-box
    box-sizing: content-box
    background: #fff
.container
    width: 95%
    max-width: 100%
    margin: auto
    +mediaMax960
        width: 100%
.width100
    width: 100% !important
    
.back
    position: relative
    +aReset
    &:before
        content: '\f104'
        font-family: 'FontAwesome'
        color: $gris
        position: absolute
        left: $spacer
        top: $min-spacer/2
        font-size: 20px
    &:after
        content: "Regresar"
        position: absolute
        margin-left: 50px
        color: $gris
        margin-top: 10px
        font-size: 15px
        +mediaMax480
.flex
    +flex
    width: 100%
.text-align
    text-align: center !important
    margin: auto
.paddingB_22
    padding-bottom: 22px!important
    +bx
.paddingT_22
    padding-top: 22px!important
    +bx
.paddingL_0
	padding-left: 0px !important
.center
	justify-content: center !important
.borderB
    border-bottom: 1px solid $grisClaro
.white
    background: $blanco
.borderB 
    position: relative
    margin-top: 20px
    h2
        font-size: 1.5rem
        color: #111111
        font-weight: 600
        padding: 0!important
        display: inline-block
        width: calc(100% - 120px)
.marginT_0
    margin-top: 0
.paddingT_19
    padding-top: 19px !important
// -----------------------------------------------------
.flex-between
    justify-content: space-between
    -webkit-justify-content: space-between
    -moz-justify-content: space-between
    -ms-flex-pack: space-between
    -ms-flex-pack: justify
.flex-wrap
    flex-wrap: wrap
    -webkit-box-wrap: wrap
    -webkit-flex-wrap: wrap
    -ms-flex-wrap: wrap
.flex-dir
    flex-direction: row
.flex-end
    +justifyCont(flex-end)
.positionR
    position: relative
.text-bold
    font-weight: 600
.order1
    width: 60%
//-----modulo
.modulo
    margin: 16px auto
    width: 100%
    background-color: white
    padding: 29px
    +bx
    +mediaMax960
    &:first-child
        padding: $spacer
    p
        line-height: 1.5rem

.container
    width: 95%
    max-width: 100%
    margin: auto
    +mediaMax960
    .width60
        width: calc(100% - 490px)
        padding-right: 40px
        .displayMob
            display: none
            +mediaMax960
            width: 100%
            &.order1
                order: 1 !important
            &.order2
                order: 2 !important
            .order1
                order: 1 !important
            .order2
                order: 2 !important
            .displayMob
                display: none !important

.marginL_40
    margin-left: 38% !important
.dirElement2 
    -moz-box-sizing: border-box
    -webkit-box-sizing: border-box
    box-sizing: border-box
    width: 40%
    position: relative
    margin-bottom: 8px
    padding: 16px!important
    margin: 16px auto
    width: 100%
    background-color: #fff
    padding: 29px
    box-sizing: border-box
    text-align: center
    .cont-mas
        width: 100%
        max-width: 400px
        margin: auto
        a
            +justifyCont(Center)
            text-decoration: none
            color: #000
            padding: 10px
            +bx
    .plus
        position: relative
        cursor: pointer
        margin-left: 10px!important
        &:after 
            content: ''
            border: 1px solid #e2231a
            width: 28px
            height: 28px
            border-radius: 50%
            display: block
            position: absolute
            margin-top: -15px///-9px
            left: -7px
        &:before
            content: '\f067'
            font-family: 'FontAwesome'
            color: black
            position: absolute
            top: -5px
            left: 0

.marginR_0
    margin-right: 0px !important
.marginL_2
    margin-left: 2% !important
.marginT_18
    margin-top: -18px !important
.paddingB_10
    padding-bottom: 10px !important
.padding_10
    padding: 10px !important
.paddingL_0
    padding-left: 0px !important
.paddingR_0
    padding-right: 0px !important
.padding32
    padding-right: 32px !important
.paddingB_22
    padding-bottom: 32px !important
.bold
    font-weight: 700 !important
.textC
    text-align: center !important

.botones
    +mediaMax480
    +flexWrap

.width50
    width: calc(50% - 10px)
    +mediaMax960
        width: 100%
.table
    display: table-column
    +mediaMax480
        display: contents

// estilo botones
.btn-rojo
    +btn($bg:#e2231a, $color: $blanco, $ancho: table, $border-radius: 4px)
    +gradient(180deg, #e2231a, #a60807)
    min-width: 100px
    +mediaMax480
    padding: 0.5rem 1rem
    min-width: 45%
    &.sinAccion
        background: $grisClaro !important
        +mediaMax480
        padding: 0.7rem 3rem
.right
	transform: rotate(-45deg)

.btn-blanco
    +btn($bg: $blanco, $color: $grisLabel, $borde: 1px solid $gris, $ancho: table, $border-radius: 4px)
    min-width: 120px
    width: 120px
    border: 1px solid $gris !important
    margin: 0px 15px 10px 0px
    +mediaMax480
    min-width: 48%

// direccion
.direccion
    p
        margin: 0px
//-textos
.small
    font-size: 12px
.predeterminada
    color: $primario
    cursor: pointer
    // text-decoration: underline
.noPredeterminada
    color: $gris
    cursor: pointer
    text-decoration: underline
    font-size: 13px
.star
    &:after
        content: '\f005'
        font-family: 'FontAwesome'
        color: $amarillo
        margin-left: -10px
.starVacia
    &:after
        content: '\f005'
        font-family: 'FontAwesome'
        color: $gris
        margin-left: -10px
    
.direccionM
    margin-left: 25px
    &:before 
        content: ""
        width: 20px
        height: 20px
        position: absolute
        // top: 16px
        left: 15px
        background: url(/assets/radiotbtns-state4.png) no-repeat
.direccionM.active:before
    background-position: 0 -20px



//------------------- seccion detalle de compra -----------
.widthMob
    margin-top: -14px
.width40
    width: 420px
    .displayMob
        display: block
    +mediaMax960
        width: 100%
        .displayMob
            display: none !important
        &.order0
            order: 0 !important
.verMob
	display: none !important
	+mediaMax960
		display: block !important
.sticky
    position: -webkit-sticky
    position: sticky
    top: $spacer
    +mediaMax960
        position: initial
.detalleCompra
    display: block
    label
        &:hover
            cursor: pointer
#btn-producto
    +mediaMax960
        &:checked
            + .productList
                display: block !important
                margin-top: -33px
.productList
	display: block
	+mediaMax960
		display: none
.marginT_32
    margin-top: 32px !important
.padding32
    padding: 32px !important
.paddingB_0
    padding-bottom: 0 !important
.paddingT_0
    padding-top: 0 !important
.padding_25
    padding: $min-spacer !important
    +bx
i
	border: solid $blanco
	border-width: 0 1px 1px 0
	display: inline-block
	padding: 4px
	margin-left: 10px
.down
	position: relative
	&:after
		content: '\f078'
		font-family: 'FontAwesome'
		color: black
		font-size: 12px
		position: absolute
.titulo
    color: black
//-------------------------------------