<div class="flex paddingB_25 paddingT_25 borderTop">
    <!-- *ngFor="let producto of productos"> -->
    <div class="productoCarrito widht30">
        <img src="" alt='producto.nombre'>
    </div>
    
    <div class="marginL_10 widht30">
        <p class="bold">
           nombre del producto <!-- {{ producto.nombre }} -->
        </p>
        <p>Cantidad:
            #cant <!-- <span>{{ producto.cantidad }}</span> -->
        </p>
        <!--   *ngIf="detalleCompra.descuentoFpago == 0 && producto.precio_lista > productos.precio_venta" -->
        <p [style.display]="none"
          
            >
            Precio:
            <span class="tachado">$ precio
                 <!-- {{producto.precio_lista | number:'1.2-2'}}  -->
                </span>
        </p>
        <p>Precio Final:
            <span>$ precio
                <!-- {{ producto.precio_venta | number:'1.2-2'}} -->
            </span>
        </p>
        <!--p>Entrega estimada: {{ producto.tiempoEntrega }}</p-->
    </div>
</div>