@import '../../../core/sass/fonts';
@import '../../../core/sass/hacks';
@import '../../../core/sass/mixines';
@import '../../../core/sass/variables';

.widht30
    width: 30%
.widht70
    width: 70%
.flex
	+flex
	width: 100%
.marginB_25
	margin-bottom: $min-spacer !important
.marginT_25
	margin-top: $min-spacer !important
.marginL_10
	margin-left: 10px !important
.bold
	font-weight: 700 !important
.productoCarrito
  max-width: 100px
  max-height: 120px
  margin: 0px
  border: 1px solid $grisClaro
  padding: 2px
  +bx
  img
    max-width: 80px
    margin-top: 10px
    background-size: contain

//-captcha
.captcha
  width: 100%
  max-width: 400px

.borderTop
    border-top: 1px solid #DDD
    overflow: hidden
    padding: 15px 0