@import '../app/core/sass/variables';
@import '../app/core/sass/mixines';
@import '../app/core/sass/fonts';
@import '../app/core/sass/hacks';

.wrapper 
	min-height: 550px
	background: #f5f2f1

h1
	+bx
	padding: 8px 8px 16px
	display: table
	width: 100%
	font-size: 2rem
	font-weight: 400
h2
	+bx
	font-size: 20px
	padding: 8px 0px 8px 0px
	+mediaMax480
	font-size: 15px
	&.text-align
		margin: 3px auto !important
h3
	+bx
	font-size: 18px
	padding: 8px 0px 8px 0px
	line-height: 23px

.show
	display: block !important

.cont-btn
	+bx
	+flex
	+flexDir(row)
	+justifyCont(space-between)
	width: 100%
	padding: 16px 0

.container,
%container
	width: 95%
	max-width: 100%
	margin: auto
	+mediaMax960
	width: 100%
