@import '../../../core/sass/variables.sass';
@import '../../../core/sass/mixines.sass';
@import '../../../core/sass/hacks.sass';
@import '../../../core/sass/fonts.sass';

// Barra superior de titulo de la pagina y back
.sombra
    border-bottom: 1px solid #DDD
    box-shadow: 0 4px 2px -2px #DDD
    -moz-box-sizing: content-box
    -webkit-box-sizing: content-box
    box-sizing: content-box
    background: #fff
.container
    width: 95%
    max-width: 100%
    margin: auto
    +mediaMax960
    width: 100%
.width100
    width: 100% !important
    
.back
    position: relative
    +aReset
    &:before
        content: '\f104'
        font-family: 'FontAwesome'
        color: $gris
        position: absolute
        left: $spacer
        top: $min-spacer/2
        font-size: 20px
    &:after
        content: "Regresar"
        position: absolute
        margin-left: 50px
        color: $gris
        margin-top: 10px
        font-size: 15px
        +mediaMax480
.flex
    +flex
    width: 100%
.text-align
    text-align: center !important
    margin: auto
.paddingB_22
    padding-bottom: 22px!important
    +bx
.paddingT_22
    padding-top: 22px!important
    +bx
.paddingB_10
    padding-bottom: 10px !important
    +bx
.borderB
    border-bottom: 1px solid $grisClaro
.white
    background: $blanco

/////////////////////////////////////////////
.container
	width: 95%
	max-width: 100%
	margin: auto
	+mediaMax960
		width: 100%
.minHeight
	min-height: 100vh
	padding-bottom: 60px
	+bx
.flex
	+flex
	width: 100%
.flex-between
	+justifyCont(space-between)
.flex-wrap
	+flexWrap
.flex-dir
	flex-direction: row
	+mediaMax960
		flex-direction: column-reverse
.width60
	width: calc(100% - 490px)
	.displayMob
		display: none
	+mediaMax960
		width: 100%
		&.order1
			order: 1 !important
.width50 
    width: calc(50% - 10px)
.width40
	width: 420px
	.displayMob
		display: block
	+mediaMax960
		width: 100%

		.displayMob
			display: none !important
		&.order0
           	order: 0 !important
fieldset
    border: none
.modulo
	margin: 16px auto
	width: 100%
	background-color: white
	padding: 29px
	+bx
	&:first-child
		padding: $spacer
	+mediaMax960
		&:first-child
			padding: $spacer
	p
		line-height: 1.5rem
		&.width70
			width: 70% !important
.form-row
    margin-bottom: 1.5rem
    position: relative        


    input[type="password"], input[type="text"], select, #mes, #anio, #cvv
        width: 100%
        font-size: 16px
        box-sizing: border-box
        padding: 9px
        border: 1px solid #d8d8d8
        border-radius: 4px
        transition: .2s ease-in-out
        outline: 0
        &.error
            border: 1px solid $error
            border-radius: 4px
            font-weight: 500
            +placeholder
                font-weight: 500
                color: red
            + label
                color: $error  
    input[type=text]
        -webkit-appearance: none
        -moz-appearance: none
        appearance: none
        -moz-box-sizing: border-box
        -webkit-box-sizing: border-box
        box-sizing: border-box
        background: #f2f2f2
        border: 1px solid #DDD
        border-radius: 5px
        width: 100%
        height: 40px
        color: #666
        padding: 0 10px
        font-size: .8rem
        span
            font-size: 12px
            padding-top: 5px
            +bx
            &.textError
                color: $error
            &.textInst
                color: $azul
.paddingB_32
	padding-bottom: $spacer !important
	+bx
.paddingB_10
    padding-bottom: 10px !important
    +bx
/////botones
.btn-rojo
	+btn($bg:$primario, $color: $blanco, $borde: 1px solid $blanco, $ancho: table, $border-radius: 4px)
	min-width: 100px
	+mediaMax480
		padding: 0.5rem 1rem
		min-width: 100%
	&.sinAccion
		background: $grisClaro !important
		+mediaMax480
			padding: 0.7rem 3rem
//flecha next
i
	border: solid $blanco
	border-width: 0 1px 1px 0
	display: inline-block
	padding: 4px
	margin-left: 10px

.right
	transform: rotate(-45deg)
// alert
.alert
    position: relative
    // padding: .55rem 1.25rem
    margin-bottom: 1rem
    border: 1px solid transparent
    border-radius: .25rem
    // margin-top: 1rem
.alert-danger
    color: $error
////////////////////////////////////////////
// seccion detalle de compra
.width40
    width: 420px
    margin-right: 40px
    .displayMob
        display: block
        +mediaMax960
        width: 100%

        .displayMob
            display: none !important
        &.order0
            order: 0 !important
.sticky
    position: -webkit-sticky
    position: sticky
    top: $spacer
    +mediaMax960
    position: initial
.marginT_32
    margin-top: 0px !important
.detalleCompra
    display: block
    label
        &:hover
            cursor: pointer
.verMob
    display: none !important
    +mediaMax960
    display: block !important
.modulo
    margin: 16px auto
    width: 100%
    background-color: white
    padding: 29px
    +bx
.padding_25
    padding: $min-spacer !important
    +bx
.borderB
    border-bottom: 1px solid $grisClaro
.down
    position: relative
    &:after
        content: '\f078'
        font-family: 'FontAwesome'
        color: black
        font-size: 12px
        position: absolute

#btn-producto
    +mediaMax960
    &:checked
        + .productList
            display: block !important
            margin-top: -33px

.paddingB_0
    padding-bottom: 0 !important
    
.paddingT_0
    padding-top: 0px !important

.flex 
    display: -ms-flexbox
    webkit-display: -webkit-flex
    display: flex
    width: 100%
.flex-between
    justify-content: space-between
    -webkit-justify-content: space-between
    -moz-justify-content: space-between
    -ms-flex-pack: space-between
    -ms-flex-pack: justify
.flex-wrap
    flex-wrap: wrap
    -webkit-box-wrap: wrap
    -webkit-flex-wrap: wrap
    -ms-flex-wrap: wrap
.flex-dir
    flex-direction: row

.back
    position: relative
    +aReset
    &:before
        content: '\f104'
        font-family: 'FontAwesome'
        color: $gris
        position: absolute
        left: $spacer
        top: $min-spacer/2
        font-size: 20px
    &:after
        content: "Regresar" !important
        position: absolute
        margin-left: 50px
        color: $gris
        margin-top: 10px
        font-size: 15px
        +mediaMax480
        content: ''
.tituloPrincipal
    font-size: 20px
    padding: 8px 0

