<app-path [ruta]="ruta" *ngIf="breadcrumb"></app-path>

<div class="container width100 sombra">
  <div class="borderB white paddingB_22 flex paddingT_22">
    <a *ngIf="id == 0" routerLink="/formas-pago" class="back"></a>
    <a *ngIf="id > 0" routerLink="/formas-pago/guardadas" class="back"></a>
    <h2 class="text-align">{{title}}</h2>
  </div>
</div>

<div class="container minHeight">
  <div class="flex flex-between flex-wrap flex-dir">
    <div class="marginMob width60 order1">
      <!-- seccion monedero -->
      <div class="modulo">
        <div class="">
          <h4> {{subtitle}}</h4>
        </div>
        <fieldset class="form-row">
          <div class="paddingB_10">
            <input type="radio" name="pago" required [(ngModel)]="monedero.tipo" value="1" #pago="ngModel"><label>Monedero Sears</label>
          </div>
          <div>
            <input type="radio" name="pago" required  [(ngModel)]="monedero.tipo" value="2" #pago="ngModel"><label>Certificado Sears</label>
          </div>

          <div class="alert alert-danger" *ngIf="rules.tipo.error">
            <span class="textError" >El tipo de pago es obligatorio.</span>
          </div>
        </fieldset>
        <div class="form-row">
          <div class=" paddingB_10">
            <label class="mesLabel"> Número de Monedero</label>
          </div>
          <input type="text" placeholder="Ej: 873978435" [ngClass]="{'error': rules.numero.error}" [(ngModel)]="monedero.numero" minlength="1" maxlength="10">

          <div class="alert alert-danger" *ngIf="rules.numero.error">
            <span class="textError">El número de monedero / certificado es requerido.</span>
          </div>
        </div>
        <button type="submit" class="btn-rojo marginB_0 width50 text-align" (click)="validate()">
          Validar <i class="right"></i>
        </button>
      </div>
    </div>
    <!-- seccion detalle compra -->
    <div class="width40  widthMob ">
      <div class="sticky">
        <div class="marginT_32">
          <div class="detalleCompra">
            <label for="btn-producto" class="verMob modulo padding_25 borderB">
              <div class="flex flex-between ">
                <span>Detalles de tu compra </span>
                <i class="down"></i>
              </div>
            </label>
            <input type="checkbox" id="btn-producto" hidden>

            <div class="productList modulo padding32 paddingB_0 paddingT_0 ">
              <app-resumen-compra #detalle></app-resumen-compra>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>