@import '../../core/sass/variables';
@import '../../core/sass/mixines';

header.No__fix.fixed 
    position: static!important
    width: 100%
    background: white
    .header__middle 
        min-height: 80px
        // border-bottom: 1px solid #DDD
        // box-shadow: 0 4px 2px -2px #DDD
        // -moz-box-sizing: content-box
        // -webkit-box-sizing: content-box
        // box-sizing: content-box
        // background: #fff
        font-size: 1.3rem
        // padding: 5px 0
        position: relative
    .container
        width: 100%
        min-height: 55px
        .h-cajalogo 
            width: 100%
            min-width: 200px
            text-align: -webkit-center
            .header__logo
                margin-top: initial!important
                text-indent: -1000px
                width: 200px!important
                text-decoration: none
                color: #666
                display: table
                font-size: .95rem
                font-weight: 300
                height: 65px
                position: relative
                text-align: center
                &:before
                    height: 50px!important
                    margin-bottom: initial!important
                    background: url(/assets/logo-sears.svg) no-repeat
                    content: " "
                    float: left
                    margin-top: 14px
                    width: 70%
                    background-size: 100%
.header-caja
    // padding-bottom: $min-spacer
    // top: -23px
    position: relative
    .path
        width: 100%
        margin: auto
        text-align: center
        border-bottom: 3px solid $gris
        padding: 0
        list-style: none
        +flex
        li
            +bx
            color: $grisClaro
            width: 33.3%
            padding-bottom: 5px
            font-weight: 600
            &.active
                border-bottom: 3px solid red
                margin-bottom: -3px
                color: $negro
          



//     .h-cajapasos 
//         width: 56%
//         position: absolute
//         right: 0
//         .pasosHeadCaja 
//             padding-top: 20px
//             width: 100%
//             margin: 32px auto
//             .contenedor_loading 
//                 webkit-display: -webkit-flex
//                 display: -webkit-flex
//                 display: flex
//                 border-bottom: 1px solid #ddd
//                 border-top: 1px solid #ddd
//                 padding: 2px 0
//                 width: 100%
//                 max-width: 510px//615px
//                 margin: 0 auto
//                 #div1
//                     background-color: #dddddd
//                     width: 250px
//                 #div2
//                     background-color: #dddddd
//                     width: 140px
//                 #div3
//                     background-color: #dddddd
//                     width: 250px
//                 #div1,#div2
//                     &.active
//                         -webkit-transition: all 1s
//                         -moz-transition: all 1s
//                         -o-transition: all 1s
//                         -ms-transition: all 1s
//                         transition: all 1s
//                         width: 23%
//                         height: 3px
//                         background-color: #4990e2
//                 #div3
//                     &.active
//                         -webkit-transition: all 1s
//                         -moz-transition: all 1s
//                         -o-transition: all 1s
//                         -ms-transition: all 1s
//                         transition: all 1s
//                         width: 53%
//                         height: 3px
//                         background-color: #4990e2
//                 #div1, #div2, #div3
//                     .cell-loading1, .cell-loading4 
//                         position: relative
//                         width: 15%
//                         background: #ddd
//                         height: 3px
//                     .cell-loading2
//                         position: relative
//                         // left: 30px
//                         width: 35%
//                         background: #ddd
//                     .cell-loading3
//                         position: relative
//                         // left: 10%//30px
//                         width: 35%
//                         background: #ddd
//                 .cell-loading1, .cell-loading2, .cell-loading3, .cell-loading4 
//                     display: table-cell

//                 .txt1, .txt2, .txt3 
//                     font-size: 14px
//                     color: #666
//                     text-align: center
//                     top: 0
//                     margin-top: -20px
//                     display: block
//                 .txt1 
//                     margin-left: -10px
//                 .txt2 
//                     margin-left: -12px
//                 .txt3
//                     margin-left: -12px

//                 .llenarBarra .barrasLoadCajaPago 
//                     width: 100%
//                 .llenarBarra .dotsPago 
//                     background: url(/assets/pasos-states.png) 0 -76px no-repeat

//                 .dotsPago
//                     box-sizing: border-box
//                     background: url(/assets/pasos-states.png) no-repeat #fff
//                     position: absolute
//                     width: 40px
//                     height: 40px
//                     right: -140px
//                     top: -20px
//                     z-index: 10
//                     color: inherit
//                     text-decoration: none
//                     display: block
//                     border: 1px solid #ddd
//                     border-radius: 20px
//                     cursor: default
//                 .dotPalomita
//                     background: url(/assets/pasos-states.png) 0 -38px no-repeat!important
//                     box-sizing: border-box
//                     position: absolute
//                     width: 40px
//                     height: 40px
//                     right: -140px
//                     top: -20px
//                     z-index: 10
//                     color: inherit
//                     text-decoration: none
//                     display: block
//                     border: 1px solid #ddd
//                     border-radius: 20px
//                     cursor: default

//                 .barrasLoadCajaPago
//                     -webkit-transition: all 1s
//                     -moz-transition: all 1s
//                     -o-transition: all 1s
//                     -ms-transition: all 1s
//                     transition: all 1s
//                     width: 0%
//                     height: 3px
//                     background-color: #4990e2
