<header id="headerCaja" class="No__fix v2 fixed viewSearch">
  <div class="header__middle">
    <div class="container">

      <div class="h-cajalogo">
        <a title="Ir a la Página principal de Sears" class="header__logo"></a>
      </div>

      <!-- <div class="h-cajapasos">
        <nav class="pasosHeadCaja">
          <div class="contenedor_loading"> -->

      <!-- <div id="div1"
              [ngClass]="{'active': ruta === 'direccionActiva' || ruta ==='pagosActiva' || ruta === 'confirmacionActiva'}">
              <div class="cell-loading1 llenarBarra">
                <div
                  [ngClass]="{ 'dotsPago dp1': ruta === 'direccionActiva','dotPalomita': ruta !== 'direccionActiva' }">
                  <span class="txt1">Dirección</span>
                </div>
              </div>
              <div class="barrasLoadCajaPago"></div>
            </div>

            <div id="div2" [ngClass]="{'active': ruta === 'pagosActiva' || ruta === 'confirmacionActiva' }">
                <div [ngClass]="{ 'cell-loading2 llenarBarra': ruta === 'pagosActiva' || ruta === 'confirmacionActiva', 
              'cell-loading2': ruta !== 'pagosActiva' || ruta !== 'confirmacionActiva' }">
                <div [ngClass]="{'dotsPago dp2' : ruta === 'pagosActiva' || ruta === 'direccionActiva', 
                                 'dotPalomita': ruta === 'confirmacionActiva' }">
                  <span class="txt2">Pago </span>
                </div>
              </div>
              <div class="barrasLoadCajaPago"></div>
            </div>

            <div id="div3" [ngClass]="{'active': ruta === 'confirmacionActiva'}">
                <div [ngClass]="{ 'cell-loading3 llenarBarra': ruta === 'confirmacionActiva', 
                                  'cell-loading3': ruta !== 'pagosActiva' || ruta !== 'direccionActiva' }">
                <div class="dotsPago dp3">
                  <span class="txt3">Confirmación</span>
                </div>
              </div>
              <div class="barrasLoadCajaPago"></div>
            </div> -->


      <!-- </div>
        </nav>
      </div> -->
    </div>
  </div>

  <div class="header-caja">
    <ul class="path">
      <li [ngClass]="{'active': ruta === 'direccionActiva' || ruta ==='pagosActiva' || ruta === 'confirmacionActiva'}">
        Dirección
      </li>
      <li [ngClass]="{'active': ruta === 'pagosActiva' || ruta === 'confirmacionActiva' }"> Pago </li>
      <li [ngClass]="{'active': ruta === 'confirmacionActiva'}"> Confirmación </li>
    </ul>
  </div>
</header>

