@import '../../../core/sass/variables.sass';
@import '../../../core/sass/mixines.sass';
@import '../../../core/sass/hacks.sass';
@import '../../../core/sass/fonts.sass';

// Barra superior de titulo de la pagina y back
.container
    width: 95%
    max-width: 100%
    margin: auto
    +mediaMax960
    width: 100%
.width100
    width: 100% !important
    
.back
    position: relative
    +aReset
    &:before
        content: '\f104'
        font-family: 'FontAwesome'
        color: $gris
        position: absolute
        left: $spacer
        top: $min-spacer/2
        font-size: 20px
    &:after
        content: "Regresar"
        position: absolute
        margin-left: 50px
        color: $gris
        margin-top: 10px
        font-size: 15px
        +mediaMax480
.flex
    +flex
    width: 100%
.text-align
    text-align: center !important
    margin: auto
.paddingB_22
    padding-bottom: 22px!important
    +bx
.paddingT_22
    padding-top: 22px!important
    +bx
.paddingL_0
	padding-left: 0px !important
.center
	justify-content: center !important
.borderB
    border-bottom: 1px solid $grisClaro
.white
    background: $blanco

// seccion imagen de tarjeta 
.jp-card-container
    z-index: 0 !important
    +iphone5
    height: 175px !important
    +mediaMax320
    height: 185px !important
.jp-card
    +iphone5
    min-width: 260px !important
    +mediaMax320
    min-width: 250px !important
    +mediaMax400
    min-width: 288px !important
    .jp-card-front
        .jp-card-lower
            .jp-card-number
                font-size: 16px !important
            .jp-card-name
                +mediaMax400
                font-size: 16px !important
                width: 164px
                +mediaMax320
                font-size: 12px !important

    &.jp-card-sears
        &.jp-card-identified
            .jp-card-front
                &:before
                    background: #f22424
            .jp-card-back
                &:before
                    background: #f22424
            .jp-card-logo
                &.jp-card-sears
                    opacity: 1
                    color: $blanco
                    background-image: url(/assets/logo-sears-bco.svg)
                    background-repeat: no-repeat
                    background-size: contain
                    overflow: hidden
.jp-card
    &.jp-card-amex
        &.jp-card-identified
            .jp-card-front
                &:before
                    background: #03af9e
            .jp-card-back
                &:before
                    background: #03af9e
.jp-card
    &.jp-card-visa
        &.jp-card-identified
            .jp-card-front
                &:before
                    background: #021fdd
            .jp-card-back
                &:before
                    background: #021fdd
.jp-card
    &.jp-card-mastercard
        &.jp-card-identified
            .jp-card-front
                &:before
                    background: #1e799e
            .jp-card-back
                &:before
                    background: #1e799e

.jp-card
    &.jp-card-sanborns
        &.jp-card-identified
            .jp-card-front
                &:before
                    background: #cc0505
            .jp-card-back
                &:before
                    background: #cc0505
            .jp-card-logo
                &.jp-card-sanborns
                    opacity: 1
                    color: $blanco
                    background-image: url(/assets/logo-sanborns-bco.svg)
                    background-repeat: no-repeat
                    background-size: contain
                    overflow: hidden

.jp-card
    &.jp-card-discover
        &.jp-card-identified
            .jp-card-logo
                &.jp-card-discover
                    background: #ff660f
                    color: #111
                    text-transform: uppercase
                    font-sytle: normal
                    font-weight: bold
                    font-size: 10px
                    text-align: center
                    overflow: hidden
                    z-index: 1
                    padding-top: 9px
                    letter-spacin: 0.3em
                    border: 1px solid #eee

// seccion campos tarjeta de credito
.container
    width: 95%
    max-width: 100%
    margin: auto

.width60
    width: calc(100% - 490px)
.modulo
    margin: 16px auto
    width: 100%
    background-color: #fff
    padding: 29px
    box-sizing: border-box
    &:first-child
        padding: 32px
.modulo.sinBack 
    background: 0 0

// PADDING Y MARGIN
.padding_0
    padding: 0!important
.paddingMobB_32
    padding-bottom: $spacer !important
    +bx
    +mediaMax960
    padding-bottom: 0px !important
.marginT_10
    margin-top: 10px!important

// Flex
.flex
    +flex
    width: 100%
.flex-around
    +justifyCont(space-around)
.flex-wrap
    +flexWrap
.flex-dir
    flex-direction: row
    +mediaMax960
    flex-direction: column-reverse
.flex-end
    +justifyCont(flex-end)

.small
    font-size: 12px
.grisTxt
    color: $gris
    
.form-row1
    .fv-number
        width: 100%
.form-row, .form-row1
    margin-bottom: 1.5rem
    position: relative        


    input[type="password"], input[type="text"], select, #mes, #anio, #cvv
        width: 100%
        font-size: 16px
        box-sizing: border-box
        padding: 9px
        border: 1px solid #d8d8d8
        border-radius: 4px
        transition: .2s ease-in-out
        outline: 0
        &.error
            border: 1px solid $error
            border-radius: 4px
            font-weight: 500
            +placeholder
                font-weight: 500
                color: red
            + label
                color: $error  

    input[type=text]
        -webkit-appearance: none
        -moz-appearance: none
        appearance: none
        -moz-box-sizing: border-box
        -webkit-box-sizing: border-box
        box-sizing: border-box
        background: #f2f2f2
        border: 1px solid #DDD
        border-radius: 5px
        width: 100%
        height: 40px
        color: #666
        padding: 0 10px
        font-size: .8rem
        span
            font-size: 12px
            padding-top: 5px
            +bx
            &.textError
                color: $error
            &.textInst
                color: $azul
    label
        margin: 16px 0 4px
        &.error
            border: 1px solid $error
            border-radius: 4px
            font-weight: 500
            +placeholder
                font-weight: 500
            + label
                color: $error
                +safari10
                    margin-bottom: 31px !important
                +iphone5
                    margin-bottom: 31px !important
                +iphone6
                    margin-bottom: 5px !important
                +iphone6Plus
                    margin-bottom: 6px !important
                +ipad
                    margin-bottom: 12px !important
                +ipad3
                    margin-bottom: 5px !important
    

    select:valid
        border: 1px solid #d8d8d8
    span
        font-size: 12px
        padding-top: 5px
        box-sizing: border-box
.col2
    width: calc(50% - 10px)
    flex-wrap: wrap
    -webkit-box-wrap: wrap
    -webkit-flex-wrap: wrap
    -ms-flex-wrap: wrap    
.vencimiento
    display: -ms-flexbox
    webkit-display: -webkit-flex
    display: flex
    justify-content: space-between
    -webkit-justify-content: space-between
    -moz-justify-content: space-between
    -ms-flex-pack: space-between
    -ms-flex-pack: justify  

.informativo
	position: relative
	padding-top: 0px
	padding-bottom: 0px
	+safari10
		padding-bottom: 50px
	&:after
		+fawesome('\f06a')
		position: absolute
		color: black
		top: -12px//30px//-28px
		right: 10px
	&:hover
		&:before
			content: attr(data-tooltip)
			background-color: lightgray
            text-align: center
			top: 15px
			right: 0px
			width: auto
			padding: 4px
			border-radius: 4px
			position: absolute
span
	&.error
		font-size: 0.9rem
		color: $primario
		padding-bottom: $min-spacer
		display: none
		&.active
			display: table
span.select 
    position: relative
    width: 90%
    display: table
    >select
        -webkit-appearance: none
        -moz-appearance: none
        appearance: none
        padding-right: 50px!important
    &:after
        box-sizing: border-box
        content: ""
        font-family: FontAwesome
        top: 5px
        position: absolute
        right: 0
        font-size: 20px
        border-left: 1px solid #d8d8d8
        padding: 9px 15px
        pointer-events: none
.hrGris
    border: 0.03rem solid $grisClaro
    display: none
    -webkit-margin-before: 0px
    -webkit-margin-after: 0px
    padding-left: $min-spacer
    padding-right: $min-spacer
.ver
    display: block !important

.contG
    width: 100%
    display: flex
.conte
    width: 34%
.fv-number
    width: 33%
    input
        -webkit-box-sizing: border-box
        box-sizing: border-box
        width: 100%
        border: 1px solid #DDD
        font-size: .9rem
        color: #666
        padding: 10px!important
        font-weight: 300
        margin-top: 5px//23px
        
.slds-form-element__row label
    margin: 16px 0 4px
.slds-form-element__row
    .labelFecha
        margin: 26px 0 4px
.slds-form-element
    border: none
    .label
        // margin-bottom: 16px
        margin-left: 0 !important
.campoObligatorio
    .bold
        font-weight: 700
    .p
        font-size: .8rem
        margin: 32px 0
        display: block
        clear: both

.form-group2 
    button
        display: block
        width: 120px!important
        margin: 16px auto 5px
    .redBtn 
        transition: all .3s
        box-sizing: border-box
        // border-radius: 50px!important
        border-radius: 4px!important
        background-color: #EB0028
        border: 1px solid #EB0028
        -webkit-transition: all .3s
        -moz-transition: all .3s
        -ms-transition: all .3s
        margin-bottom: 10px
        font-size: 13px!important
        text-align: center!important
        display: table
        padding: 8px 16px
        cursor: pointer
        text-decoration: none
        font-weight: 300!important
        color: #fff!important
//flecha next
i
    border: solid $blanco
    border-width: 0 1px 1px 0
    display: inline-block
    padding: 4px
    margin-left: 10px

.right
    transform: rotate(-45deg)

span.alert
    top: 10px
// alert
.alert
    position: relative
    // padding: .55rem 1.25rem
    margin-bottom: 1rem
    border: 1px solid transparent
    border-radius: .25rem
    // margin-top: 1rem
.alert-danger
    color: $error
    // background-color: #f8d7da
    // border-color: #f5c6cb
//---------------------------------
.top
    height: 90px !important
.vencimiento
    +flex
    +justifyCont(space-between)
.marginT_4
    margin-top: 4px
.topCvv
    input[type="text"], select, input[type="password"]
            &:focus,
            &:valid,
            &:disabled
                border: 1px solid $grisClaro
                + label[data-placeholder]
                    &:after
                        transform: translate(-5%, -300%) scale(0.9, 0.9)
                        +safari10
                            transform: translate(-5%, -363%) scale(0.9, 0.9)

input[type="checkbox"]
    opacity: 0 !important
    position: absolute


.informativo
    input[type="text"]  
        &:focus,
        &:valid,
        &:disabled
            border: 1px solid $grisClaro
            + label[data-placeholder]
                pointer-events: none
                +safari10
                    &:after
                        transform: translate(0%, -478%)
                +iphone5
                    &:after
                        transform: translate(0%, -478%)
                +iphone6
                    &:after
                        transform: translate(0%, -478%)
                +iphone6Plus
                    &:after
                        transform: translate(0%, -478%)
                +ipad
                    &:after
                        transform: translate(0%, -478%)
                +ipad3
                    &:after
                        transform: translate(0%, -478%)

.topCvv
    margin-top: 4px //21px
    input[type="text"], select, input[type="password"]
        + label[data-placeholder]
            &:focus,
            &:valid,
            &:disabled
                +iphone6
                    &:after
                        transform: translate(0%, -340%)
                +safari10
                    &:after
                        transform: translate(0%, -340%)
                +iphone5
                    &:after
                        transform: translate(0%, -340%)
                +iphone6Plus
                    &:after
                        transform: translate(0%, -340%)
                +ipad
                    &:after
                        transform: translate(0%, -340%)
                +ipad3
                    &:after
                        transform: translate(0%, -340%)
	
    +mediaMax320
        margin-top: 0px
//--------------------------------seccion detalle de compra
.width40
    width: 420px
    margin-right: 40px
    .displayMob
        display: block
        +mediaMax960
        width: 100%

        .displayMob
            display: none !important
        &.order0
            order: 0 !important
.sticky
    position: -webkit-sticky
    position: sticky
    top: $spacer
    +mediaMax960
    position: initial
.marginT_32
    margin-top: 0px !important
.marginT_20
    margin-top: 20px !important
.detalleCompra
    display: block
    label
        &:hover
            cursor: pointer
.verMob
    display: none !important
    +mediaMax960
    display: block !important
.modulo
    margin: 16px auto
    width: 100%
    background-color: white
    padding: 29px
    +bx
.padding_25
    padding: $min-spacer !important
    +bx
.borderB
    border-bottom: 1px solid $grisClaro
.down
    position: relative
    &:after
        content: '\f078'
        font-family: 'FontAwesome'
        color: black
        font-size: 12px
        position: absolute

#btn-producto
    +mediaMax960
    &:checked
        + .productList
            display: block !important
            margin-top: -33px

.paddingB_0
    padding-bottom: 0 !important
    
.paddingT_0
    padding-top: 0px !important

.flex 
    display: -ms-flexbox
    webkit-display: -webkit-flex
    display: flex
    width: 100%
.flex-between
    justify-content: space-between
    -webkit-justify-content: space-between
    -moz-justify-content: space-between
    -ms-flex-pack: space-between
    -ms-flex-pack: justify
.flex-wrap
    flex-wrap: wrap
    -webkit-box-wrap: wrap
    -webkit-flex-wrap: wrap
    -ms-flex-wrap: wrap
.flex-dir
    flex-direction: row

.back
    position: relative
    +aReset
    &:before
        content: '\f104'
        font-family: 'FontAwesome'
        color: $gris
        position: absolute
        left: $spacer
        top: $min-spacer/2
        font-size: 20px
    &:after
        content: "Regresar" !important
        position: absolute
        margin-left: 50px
        color: $gris
        margin-top: 10px
        font-size: 15px
        +mediaMax480
        content: ''
.tituloPrincipal
    font-size: 20px
    padding: 8px 0

.btn-azul
    +btn($bg:#e2231a, $color: $blanco, $borde: 1px solid $blanco, $ancho: table, $border-radius: 4px)
    +gradient(180deg, #e2231a, #a60807)
    margin-top: 19px
.flexflex
    display: flex
.marginLeft
    margin-left: 16px !important
.radioB
    margin: 8px 0
    background: url(/assets/radiotbtns-state-small2.webp) 0 1px no-repeat
    width: 100%
    display: inline-block
    height: 16px
.Activeradio
    background: url(/assets/radiotbtns-state-small2.webp) 0 -15px no-repeat
    margin-right: 20px


input[type="radio"] 
    display: none

label i:first-child 
    color: gray

input[type="radio"]:checked + label .fa-circle
    display: block
    color: DarkTurquoise
.label
    margin-left: 16px
    position: relative
    cursor: pointer

////////////////////////////////////////////////////////I
//fix- tarjetas departamentales
.jp-card-container
	z-index: 0 !important
	+iphone5
		height: 175px !important
	+mediaMax320
		height: 185px !important
.jp-card
	+iphone5
		min-width: 260px !important
	+mediaMax320
		min-width: 250px !important
	+mediaMax400
		min-width: 288px !important
	.jp-card-front
		.jp-card-lower
			.jp-card-number
				font-size: 16px !important
			.jp-card-name
				+mediaMax400
					font-size: 16px !important
					width: 164px
				+mediaMax320
					font-size: 12px !important

	&.jp-card-sears
		&.jp-card-identified
			.jp-card-front
				&:before
					background: #f22424
			.jp-card-back
				&:before
					background: #f22424
			.jp-card-logo
				&.jp-card-sears
					opacity: 1
					color: $blanco
					background-image: url("assets/logo-sears-bco.svg")
					background-repeat: no-repeat
					background-size: contain
					overflow: hidden
.jp-card
	&.jp-card-amex
		&.jp-card-identified
			.jp-card-front
				&:before
					background: #03af9e
			.jp-card-back
				&:before
					background: #03af9e
.jp-card
	&.jp-card-visa
		&.jp-card-identified
			.jp-card-front
				&:before
					background: #021fdd
			.jp-card-back
				&:before
					background: #021fdd
.jp-card
	&.jp-card-mastercard
		&.jp-card-identified
			.jp-card-front
				&:before
					background: #1e799e
			.jp-card-back
				&:before
					background: #1e799e

.jp-card
	&.jp-card-sanborns
		&.jp-card-identified
			.jp-card-front
				&:before
					background: #cc0505
			.jp-card-back
				&:before
					background: #cc0505
			.jp-card-logo
				&.jp-card-sanborns
					opacity: 1
					color: $blanco
					background-image: url("assets/logo-sanborns-bco.svg")
					background-repeat: no-repeat
					background-size: contain
					overflow: hidden

.jp-card
	&.jp-card-discover
		&.jp-card-identified
			.jp-card-logo
				&.jp-card-discover
					background: #ff660f
					color: #111
					text-transform: uppercase
					font-sytle: normal
					font-weight: bold
					font-size: 10px
					text-align: center
					overflow: hidden
					z-index: 1
					padding-top: 9px
					letter-spacin: 0.3em
					border: 1px solid #eee