<app-path [ruta]="ruta" *ngIf="breadcrumb"></app-path>

<!-- titulo principal  -->
<div class="container width100">
  <div class="borderB white paddingB_22 flex paddingT_22">
    <a *ngIf="id == 0" routerLink="/formas-pago" class="back"></a>
    <a *ngIf="id > 0" routerLink="/formas-pago/guardadas" class="back"></a>
    <h2 class="text-align">{{title}}</h2>
  </div>
</div>

<div class="container">
  <div class="flex flex-around flex-wrap flex-dir">

    <!-- seccion tarjeta -->
    <div class="marginMob width60 order1">
      <div class="modulo">

        <!-- Campos obligatorios -->
        <div class="flex flex-end">
          <p class="small grisTxt paddingMobB_32">*Campos obligatorios</p>
        </div>

        <!-- form tarjeta y campos -->
        <div class="form">
          <div class="slds-card__body slds-card__body_inner">
            <div class="slds-border_top slds-border_bottom">
              <!-- imagen de la tarjeta -->
              <div class="card-container"></div>

              <!-- datos tarjeta -->
              <div class="modulo sinBack marginT_10 padding_0">
                <form class="slds-form slds-form_compound ng-untouched" card container=".card-container"
                  [placeholders]="placeholders" [masks]="masks" formatting="false" debug="true" [messages]="messages"
                  [formGroup]="formularioTarjetas">

                  <!-- numero de la tarjeta -->
                  <div class="slds-form-element__row">
                    <div class="slds-form-element form-row">
                      <div class="label">
                        <label alt="Label">Número de la tarjeta: *</label>
                      </div>

                      <input type="text" name="number" card-number placeholder="Ej: 12012341234" class="form-control"
                        id="number" formControlName="number" />

                      <div class="alert alert-danger" role="alert"
                        *ngIf="formularioTarjetas.controls['number'].invalid && formularioTarjetas.controls['number'].dirty ||  formularioTarjetas.invalid && saveClicked">
                        <span class="textError" *ngIf="formularioTarjetas.controls['number'].errors.required">Número de
                          tarjeta requerido.</span>
                      </div>
                    </div>
                  </div>

                  <!-- nombre del titular -->
                  <div class="slds-form-element form-row">
                    <div class=" slds-size_1-of-2">
                      <div class="slds-form-element form-row">
                        <div class="label">
                          <label alt="Label">Nombre del titular de la tarjeta: *</label>
                        </div>

                        <input type="text" name="first-name" card-name placeholder="Ej: Daniel Pérez"
                          class="form-control" formControlName="first" />

                        <div class="alert alert-danger" role="alert"
                          *ngIf="formularioTarjetas.controls['first'].invalid && formularioTarjetas.controls['first'].dirty ||  formularioTarjetas.invalid && saveClicked">
                          <span class="textError" *ngIf="formularioTarjetas.controls['first'].errors.required">Nombre
                            del titular requerido.</span>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- fecha de vencimiento -->
                  <div class="slds-form-element__row flex flex-between flex-wrap top">
                    <label class="labelFecha">Fecha de Vencimiento: *</label>

                    <div class="slds-form-element form-row marginL_10 conte">
                      <label>Mes: *</label>
                      <input type="text" name="expiry" card-expiry id="mes" placeholder="Ej: 01" class="sel"
                        formControlName="mes">

                      <div class="alert alert-danger"
                        *ngIf="formularioTarjetas.controls['mes'].invalid && formularioTarjetas.controls['mes'].dirty ||  formularioTarjetas.invalid && saveClicked">
                        <span class="textError" *ngIf="formularioTarjetas.controls['mes'].errors.required">Mes
                          requerido.</span>
                      </div>
                    </div>

                    <div class="slds-form-element form-row marginL_10 conte">
                      <label>Año: *</label>
                      <input type="text" name="expiry" card-expiry id="anio" class="sel" placeholder="Ej: 2020"
                        formControlName="anio">

                      <div class="alert alert-danger"
                        *ngIf="formularioTarjetas.controls['anio'].invalid && formularioTarjetas.controls['anio'].dirty ||  formularioTarjetas.invalid && saveClicked">
                        <span class="textError" *ngIf="formularioTarjetas.controls['anio'].errors.required">Año
                          requerido.</span>
                      </div>

                    </div>
                  </div>

                  <!-- seccion cvv -->
                  <div class="form-row1 topCvv ">
                    <label>Cvv: *</label>
                    <input type="text" name="cvc" card-cvc id="cvv" placeholder="cvv" formControlName="cvv" />

                    <label data-placeholder=" *CVV" alt="Label"></label>
                    <div class="informativo padding" [attr.data-tooltip]="cvvHelp">
                      <input id="tip" type="checkbox" checked [checked]="show" (change)="show =! show">
                      <label for="tip"></label>
                    </div>

                    <div class="alert alert-danger"
                      *ngIf="formularioTarjetas.controls['cvv'].invalid && formularioTarjetas.controls['cvv'].dirty ||  formularioTarjetas.invalid && saveClicked">
                      <span class="textError" *ngIf="formularioTarjetas.controls['cvv'].errors.required">Código cvv
                        requerido.</span>
                    </div>
                  </div>

                  <!-- numero de telefo para tarjetas departamentales -->
                  <div class="slds-form-element__row" *ngIf="isDepartamental">
                    <div class=" slds-size_1-of-2">
                      <div class="slds-form-element form-row">
                        <div class="label">
                          <label alt="Label">Teléfono a 10 dígitos: *</label>
                        </div>

                        <input type="text" name="telefono" class="form-control" placeholder="Ej: 5576439376"
                          [required]="isDepartamental" formControlName="telefono" />

                        <div class="alert alert-danger"
                          *ngIf="formularioTarjetas.controls['cvv'].invalid && formularioTarjetas.controls['cvv'].dirty ||  formularioTarjetas.invalid && saveClicked">
                          <span class="textError" *ngIf="formularioTarjetas.controls['telefono'].errors.required">El
                            teléfono es requerido.</span>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- numero de cliente de internet para tarjetas departamentales -->
                  <div class="slds-form-element__row" *ngIf="isDepartamental">
                    <div class=" slds-size_1-of-2">
                      <div class="slds-form-element form-row">
                        <div class="label">
                          <label alt="Label"> No. de Cliente Internet: *</label>
                        </div>

                        <!-- [(ngModel)]="tarjetaForm.cliente" [ngClass]="{'error': rules.cliente.error}" (paste)="$event.preventDefault()"
                          (copy)="$event.preventDefault()" on-focusout="validateForm('cliente')" required -->
                        <input type="text" name="numCliente" class="form-control" placeholder="Ej: 44332211"
                          formControlName="numClient" />

                        <!-- *ngIf="rules.cliente.error" -->
                        <div class="alert alert-danger"
                          *ngIf="formularioTarjetas.controls['numClient'].invalid && formularioTarjetas.controls['numClient'].dirty ||  formularioTarjetas.invalid && saveClicked">
                          <span class="textError" *ngIf="formularioTarjetas.controls['numClient'].errors.required">El
                            número de cliente internet es requerido.</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- fin modulo1-->


      <div class="modulo">
        <div class="paddingB_25 paddingT_25">
          <hr class="hrGris ver">
        </div>
        <h3 class="bold">Dirección de facturación</h3>
        <!--<div>
          <p>La dirección ingresada debe ser igual a la que aparece en su estado de cuenta</p>
        </div> -->

        <!-- <div class=""> -->
        <div id="uno" [ngClass]="[show === false ? 'width100 radioB Activeradio' : 'width100 radioB' ]">
          <input id="misma" type="radio" name="direccion" value="misma" checked [checked]="show" (change)="show =! show"
            required>
          <label class="label" for="misma">Usar misma que la dirección de entrega</label>

          <div class="">
            <h5>Dirección:</h5>
            <p> la direcion, guardada va aqui.</p>
          </div>
        </div>

        <div [ngClass]="[show === true ? 'width100 radioB Activeradio' : 'width100 radioB' ]">
          <input type="radio" name="direccion" id="nueva" value="nueva" [checked]="show" (change)="show =! show"
            required>
          <label class="label" for="nueva">Ingresar nueva dirección de facturación</label>

          <!-- <form *ngIf="show" class="width100 marginT_20">
              <div class="form-row">
                <label>Calle:</label>
                <input type="text" placeholder="">
              </div>
              <div class="form-row">
                <label>*Número Exterior:</label>
                <input type="text" placeholder="">
              </div>
              <div class="form-row">
                <label>Número Interior:</label>
                <input type="text" placeholder="">
              </div>

              <div class="form-row flexflex">
                <div class="col2">
                  <label>*C.P.</label>
                  <input type="text" placeholder="">
                </div>
                <div class="col2 marginLeft">
                  <button class="btn-azul width100 marginB_32">Validar Código Postal</button>
                </div>

              </div>
              <div class="form-row">
                <label>Estado: </label>
                <input type="text" placeholder="">
              </div>
              <div class="form-row">
                <label>Municipio: </label>
                <input type="text" placeholder="">
              </div>
              <div class="form-row">
                <label>Ciudad:</label>
                <input type="text" placeholder="">
              </div>

              <div class="form-row">
                <label>Colonia:</label>
                <select>
                  <option disabled> Seleccione una...</option>
                </select>
              </div>
            </form> -->
        </div>
        <!-- </div> -->

        <div class="form-group2">
          <button class="redBtn" id="btnpagarTarjeta" (click)="save()">Continuar <i class="right"></i></button>
        </div>

        <!-- <div class="campoObligatorio">
          <p class="p">* Campos Obligatorios</p>
          <p class="p">
            <span class="bold">Nota: </span>
            Tu banco puede enviar una pantalla para una segunda validación
          </p>
        </div> -->
      </div>
    </div> <!-- fin seccion tarjeta -->
    <!-- seccion detalle compra -->
    <div class="width40  widthMob ">
      <div class="sticky">
        <div class="marginT_32">
          <div class="detalleCompra">
            <label for="btn-producto" class="verMob modulo padding_25 borderB">
              <div class="flex flex-between ">
                <span>Detalles de tu compra </span>
                <i class="down"></i>
              </div>
            </label>
            <input type="checkbox" id="btn-producto" hidden>

            <div class="productList modulo padding32 paddingB_0 paddingT_0 ">
              <app-resumen-compra #detalle></app-resumen-compra>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>