<app-path [ruta]="ruta"></app-path>

<div class="container width100 sombra">
    <div class="borderB white paddingB_22 paddingT_22 flex">
        <a routerLink="/formas-pago/tarjeta-sears" class="back"></a>
        <h2 class="text-align">{{title}}</h2>
    </div>
</div>

<div class="container minHeight">
    <div class="flex flex-around flex-wrap flex-dir">
        <div class="width60 order1">
            <div class="modulo">
                <div class="flex">
                    <h4 class="">{{subtitle}}</h4>
                </div>
                <div class="flex subtitulo">
                    <p class=""> Selecciona las mensualidades y el monto:</p>
                </div>

                <div class="seccionPromociones">
                    <div class="flex flex-between marginB_25 positionR">
                        <input class="option-input marginR_3 radio" type="radio" name="meses">
                        <p class="bold width70 paddingB_10 promoDep"> aqui van las promociones</p>
                        <br>
                        <span class="paddingB_10"></span>

                    </div>
                </div>

                <div class="cont-btn">
                    <div class="btn-rojo text-align" (click)="save()">
                        Continuar <i class="right"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="width40 widthMob">
            <div class="sticky">
                <div class="marginT_32">
                    <div class="detalleCompra">
                        <label for="btn-producto" class="verMob modulo padding_25 borderB">
                            <div class="flex flex-between ">
                                <span>Detalles de tu compra </span>
                                <i class="down"></i>
                            </div>
                        </label>
                        <input type="checkbox" id="btn-producto" hidden>

                        <div class="productList modulo padding32 paddingB_0 paddingT_0 ">
                            <app-resumen-compra #detalle></app-resumen-compra>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>