@import '../../../../core/sass/variables.sass';
@import '../../../../core/sass/mixines.sass';
@import '../../../../core/sass/hacks.sass';
@import '../../../../core/sass/fonts.sass';

// Barra superior de titulo de la pagina y back
.sombra
    border-bottom: 1px solid #DDD
    box-shadow: 0 4px 2px -2px #DDD
    -moz-box-sizing: content-box
    -webkit-box-sizing: content-box
    box-sizing: content-box
    background: #fff
.container
    width: 95%
    max-width: 100%
    margin: auto
    +mediaMax960
    width: 100%
.width100
    width: 100% !important
    
.back
    position: relative
    +aReset
    &:before
        content: '\f104'
        font-family: 'FontAwesome'
        color: $gris
        position: absolute
        left: $spacer
        top: $min-spacer/2
        font-size: 20px
    &:after
        content: "Regresar"
        position: absolute
        margin-left: 50px
        color: $gris
        margin-top: 10px
        font-size: 15px
        +mediaMax480
.flex
    +flex
    width: 100%
.flex-around
    +justifyCont(space-around)
.flex-between
    +justifyCont(space-between)
.flex-wrap
    +flexWrap
.flex-dir
    flex-direction: row
    +mediaMax960
    flex-direction: column-reverse
.text-align
    text-align: center !important
    margin: auto
.paddingB_22
    padding-bottom: 22px!important
    +bx
.paddingT_22
    padding-top: 22px!important
    +bx
.paddingT_10
    padding-top: 10px !important
    +bx
.paddingB_10
    padding-bottom: 10px !important 
    +bx
.paddingL_0
    padding-left: 0px !important
.center
    justify-content: center !important
.borderB
    border-bottom: 1px solid $grisClaro
.marginB_25
    margin-bottom: $min-spacer !important
.positionR
    position: relative
.marginR_3
    margin-right: -3px !important
.white
    background: $blanco
.minHeight
    min-height: 100vh
    padding-bottom: 60px
    +bx
.width60
    width: calc(100% - 500px) !important
    +mediaMax960
    width: 100%
.marginB_25
    margin-bottom: $min-spacer !important

.bold
    font-weight: 700 !important

//-modulos
.modulo
	margin: 16px auto
	width: 100%
	background-color: white
	padding: 29px
	+bx
	&:first-child
		padding: $spacer
	+mediaMax960
		&:first-child
		    padding: $spacer
		.topBtn
			margin-top: 20px

	p
		line-height: 1.5rem
		&.width70
			width: 70% !important
    
.subtitulo
        top: -25px
        position: relative

//promociones departamentales
.seccionPromociones
    p
        // right: 0px
        left: 50px
        position: relative//absolute
        top: -10px
.promoDep
    span
        font-size: 15px
        font-weight: 300
.option-input
	+appearance
	position: relative
	height: 30px
	width: 30px
	transition: all 0.15s ease-out 0s
	background: $blanco
	border: 1px solid $grisLabel
	color: $blanco
	cursor: pointer
	display: inline-block !important
	margin-right: 0.5rem
	outline: none
	&:checked
		border: 2px solid $verde
		border-radius: 50%
		width: 30px
		height: 30px
		&:before
			content: ''
			border: solid $verde
			border-width: 0 2px 2px 0
			display: flex
			padding: 4px
			margin-left: 8px
			margin-top: 3px
			width: 0px
			height: 8px
			transform: rotate(45deg)
			position: absolute
	&.radio
		border-radius: 50%
		position: absolute
		right: 0px
	&:after
		border-radius: 50%

//boton continuar
.cont-btn
    +bx
    +flex
    +flexDir(row)
    +justifyCont(space-between)
    width: 100%
    padding: 16px 0

.btn-rojo
    +btn($bg:$primario, $color: $blanco, $borde: 1px solid $blanco, $ancho: table, $border-radius: 4px)
    min-width: 100px
    +mediaMax480
    padding: 0.5rem 1rem
    min-width: 100%
    &.sinAccion
        background: $grisClaro !important
        +mediaMax480
        padding: 0.7rem 3rem

//flecha next
i
    border: solid $blanco
    border-width: 0 1px 1px 0
    display: inline-block
    padding: 4px
    margin-left: 10px

.right
    transform: rotate(-45deg)

//--------------------------------seccion detalle de compra
.width40
    width: 420px
    margin-right: 40px
    .displayMob
        display: block
        +mediaMax960
        width: 100%

        .displayMob
            display: none !important
        &.order0
            order: 0 !important
.sticky
    position: -webkit-sticky
    position: sticky
    top: $spacer
    +mediaMax960
    position: initial
.marginT_32
    margin-top: 0px !important
.marginT_20
    margin-top: 20px !important
.detalleCompra
    display: block
    label
        &:hover
            cursor: pointer
.verMob
    display: none !important
    +mediaMax960
    display: block !important
.modulo
    margin: 16px auto
    width: 100%
    background-color: white
    padding: 29px
    +bx
.padding_25
    padding: $min-spacer !important
    +bx
.borderB
    border-bottom: 1px solid $grisClaro
.down
    position: relative
    &:after
        content: '\f078'
        font-family: 'FontAwesome'
        color: black
        font-size: 12px
        position: absolute

#btn-producto
    +mediaMax960
    &:checked
        + .productList
            display: block !important
            margin-top: -33px

.paddingB_0
    padding-bottom: 0 !important
    
.paddingT_0
    padding-top: 0px !important

.flex 
    display: -ms-flexbox
    webkit-display: -webkit-flex
    display: flex
    width: 100%
.flex-between
    justify-content: space-between
    -webkit-justify-content: space-between
    -moz-justify-content: space-between
    -ms-flex-pack: space-between
    -ms-flex-pack: justify
.flex-wrap
    flex-wrap: wrap
    -webkit-box-wrap: wrap
    -webkit-flex-wrap: wrap
    -ms-flex-wrap: wrap
.flex-dir
    flex-direction: row

.back
    position: relative
    +aReset
    &:before
        content: '\f104'
        font-family: 'FontAwesome'
        color: $gris
        position: absolute
        left: $spacer
        top: $min-spacer/2
        font-size: 20px
    &:after
        content: "Regresar" !important
        position: absolute
        margin-left: 50px
        color: $gris
        margin-top: 10px
        font-size: 15px
        +mediaMax480
        content: ''
.tituloPrincipal
    font-size: 20px
    padding: 8px 0

.btn-azul
    +btn($bg:#e2231a, $color: $blanco, $borde: 1px solid $blanco, $ancho: table, $border-radius: 4px)
    +gradient(180deg, #e2231a, #a60807)
    margin-top: 19px
.flexflex
    display: flex
.marginLeft
    margin-left: 16px !important
.radioB
    margin: 8px 0
    background: url(/assets/radiotbtns-state-small2.webp) 0 1px no-repeat
    width: 100%
    display: inline-block
    height: 16px
.Activeradio
    background: url(/assets/radiotbtns-state-small2.webp) 0 -15px no-repeat
    margin-right: 20px


input[type="radio"] 
    display: none

label i:first-child 
    color: gray

input[type="radio"]:checked + label .fa-circle
    display: block
    color: DarkTurquoise
.label
    margin-left: 16px
    position: relative
    cursor: pointer
