@import '../../core/sass/fonts';
@import '../../core/sass/variables';
@import '../../core/sass/hacks';
@import '../../core/sass/mixines';

$primario: #E2231A
$azul: #1f97af
$fontPrin2: 'Muli', helvetica, sans-serif

.flex
    +flex
=mediaMax480
    @media only screen and (max-width: 480px)
        @content
.width100
    width: 100% !important
.maxWidth600
    max-width: 800px
    width: 100%
    margin: auto
.noPedido
  +flex
  +flexWrap
  +justifyCont(space-between)
  +mediaMax480
    .bloque1
      width: 100%
//----------- margin y padding
.paddingL_0
    padding-left: 0px !important
.paddingR_0
    padding-right: 0px !important
.paddingT_0
    padding-top: 0px !important
.paddingB_0
    padding-bottom: 0px !important
.marginT_19
    margin-top: 19px !important
.marginB_15
    margin-bottom: 15px !important
.marginT_0
    margin-top: 0px !important
.marginB_32
    margin-bottom: $spacer !important
.marginB_0
    margin-bottom: 0px !important
.marginB_20
    margin-bottom: 20px !important

.header-thankyou
    width: 100%
    +flex
    +justifyCont(center)
    background: white
    position: absolute
    top: 0px
    z-index: 100
    .logo-sears
        padding: $min-spacer
        margin: auto
        text-align: center
        .logoSears
            width: 200px
            margin: auto
.modulo
    position: relative
    padding-top: 80px
    &.sinBack
        background: $trans
    &.backGris
        background-color: #f2f2f2
    &.backNegro
        background-color: #222222
        a
            color: white
.moduloTP
    padding: 20px
    +bx
    background-color: #ffffff

.border
    border: 1px solid $grisClaro
.bordeCaja
    border: 1px solid #ddd !important

.ico-gracias
    width: 30px
    margin-right: 20px
    margin-top: -3px
    object-fit: scale-down
    +mediaMax480
    width: 40px
    margin-top: 0px
    img
        width: 100%
p
    font-size: 16px
    color: #535353
    font-weight: 500
    text-align: left
    line-height: 20px
    font-family: $fontPrin2
    &.bloque1
        font-size: 18px
        font-weight: 500
    &.bloque2
        font-size: 16px
        font-weight: 700
    .font20
        font-size: 20px
    .nombre
        font-size: 20px
        font-weight: 700
.rojoMasrojo
  color: #FF283D