<div *ngIf="isLoad" [hidden]="hidden" class="marginT_0 width100">
  <div class="header-thankyou">
    <div class="logo-sears">
      <a href="https://www.sears.com/">
        <img src="assets/logo-sears.svg" alt="Sears" class="logoSears">
      </a>
    </div>
  </div>

  <!-- modulo 1-->
  <div class="modulo paddingL_0 paddingR_0 sinBack maxWidth600 marginB_15 marginT_19">
    <div class="moduloTP border flex marginT_0 bordeCaja">
      <div class="ico-gracias">
        <img src="assets/icoCheckedb.png" alt="✔">
      </div>

      <!-- Seccion Pedido autorizado -->
      <!-- <p class="bloque2">
        El pago de tu pedido ha sido autorizado
      </p> -->

      <!-- Pedido colocado -->
      <p class="bloque2">
        ¡Hemos recibido tu orden de compra!
      </p>

    </div>
  </div>

  <!-- modulo 2 -->
  <div class="modulo sinBack maxWidth600 marginT_0 marginB_32 paddingB_0">
    <div class="moduloTP border  marginT_0 marginB_0 bordeCaja">
      <div class="noPedido marginB_20">
        <p class="bloque1 font20">
          ¡Hola <span class="nombre"> nom </span> !</p>
        <p class="bloque2">Número de pedido:
          <span><a href="" class="rojoMasrojo"> num</a></span>
        </p>
      </div>

    </div>
  </div>

</div>