//---------- Funciones ----------
@function strip-unit($num)
	@return $num / ($num * 0 + 1)

@function calculateRem($size)
	$remSize: $size / $remVal
	@return $remSize * 1rem


//----------- Mixines ----------		
=font-size($size,$imp...)
	font-size: $size $imp
	font-size: calculateRem($size) $imp

=remsXpx($property, $values... )
	$max: length($values)
	$pxValues: ''
	$remValues: ''

	@for $i from 1 through $max
		$value: strip-unit(nth($values, $i))
		$pxValues: #{$pxValues + $value*strip-unit($remVal)}px
		@if $i < $max
			$pxValues: #{$pxValues + " "}

	@for $i from 1 through $max
		$value: strip-unit(nth($values, $i))
		$remValues: #{$remValues + $value}rem

		@if $i < $max
			$remValues: #{$remValues + " "}

	#{$property}: $pxValues
	#{$property}: $remValues

=pxXrems($property, $values...)
	$max: length($values)
	$pxValues: ''
	$remValues: ''

	@for $i from 1 through $max
		$value: strip-unit(nth($values, $i))
		$pxValues: #{$pxValues + $value}px

		@if $i < $max
			$pxValues: #{$pxValues + " "}

	@for $i from 1 through $max
		$value: strip-unit(nth($values, $i))
		$remValues: #{$remValues + $value/strip-unit($remVal)}rem

		@if $i < $max
			$remValues: #{$remValues + " "}
	#{$property}: $pxValues
	#{$property}: $remValues

=svgBg($name)
	background: url('img/#{$name}.png') transparent 0 0 no-repeat
	background: none, url('vector/#{$name}.svg') 0 0 no-repeat
	
=out
	border: 1px dotted black

=bx($value: border-box)
	-moz-box-sizing: $value
	-webkit-box-sizing: $value
	box-sizing: $value

=padd
	padding: $min-spacer+3 $spacer

=bgSvg($bg-url, $color)
	background-color: $color
	mask: url(vector/$bg-url) no-repeat 
	-webkit-mask: url(vector/$bg-url) no-repeat 

=linked
	color: $color-link
	text-decoration: underline

=sticky($import)
	position: -webkit-sticky $import
	position: -moz-sticky $import
	position: -ms-sticky $import
	position: -o-sticky $import
	position: sticky $import

=btn( $bg:$primario, $color: white, $borde: 1px solid $blanco, $ancho: table, $border-radius: 4px)
	+bx
	border-radius: $border-radius !important
	margin-bottom: 10px
	background-color: $bg
	border: 1px solid transparent
	font-size: 16px !important
	text-align: center !important
	text-decoration: none
	display: table
	padding: 8px 16px
	cursor: pointer
	color: $color !important
	font-weight: 500 !important
	font-family: arial//$fontPrin2
	&:focus
		outline: none

=appearance
	-webkit-appearance: none
	-moz-appearance: none
	appearance: none
	&:-ms-expand
		display: none

=inputNumber
	&::-webkit-inner-spin-button, &::-webkit-outer-spin-button
		+appearance
		margin: 0
=input
	padding: $min-spacer
	width: 100%
	+bx
	border-width: 1px
	border-radius: 3px
	border-color: $grisClaro
	margin: 0
=aReset
	color: inherit
	text-decoration: none

=center($value: v)
	position: absolute
	@if $value == v
		-webkit-transform: translateX(-50%)
		-moz-transform: translateX(-50%)
		-ms-transform: translateX(-50%)
		transform: translateX(-50%)
		left: 50%
	@else if $value == h
		-webkit-transform: translateY(-50%)
		-moz-transform: translateY(-50%)
		-ms-transform: translateY(-50%)
		transform: translateY(-50%)
		top: 50%
	@else if $value == vh
		-webkit-transform: translate(-50%, -50%)
		-moz-transform: translate(-50%, -50%)
		-ms-transform: translate(-50%, -50%)
		transform: translate(-50%, -50%)
		top: 50%
		left: 50%

	@else if $value == r
		-webkit-transform: translate(0%, 0%)
		-moz-transform: translate(0%, 0%)
		-ms-transform: translate(0%, 0%)
		transform: translate(0%, 0%)
		position: inherit
		top: inherit
		left:  inherit
	@else if $value == rv
		-webkit-transform: translate(-50%, 0%)
		-moz-transform: translate(-50%, 0%)
		-ms-transform: translate(-50%, 0%)
		transform: translate(-50%, 0%)
		top: inherit
		left: 50%
	@else if $value == rh
		-webkit-transform: translate(0%, -50%)
		-moz-transform: translate(0%, -50%)
		-ms-transform: translate(0%, -50%)
		transform: translate(0%, -50%)
		top: 50%
		left:  inherit

=translate($X,$Y)
	-webkit-transform: translate($X, $Y)
	-moz-transform: translate($X, $Y)
	-ms-transform: translate($X, $Y)
	transform: translate($X, $Y)

=scale($value1...)
	-webkit-transform: scale($value1)
	-moz-transform: scale($value1)
	-ms-transform: scale($value1)
	transform: scale($value1)

=transform($values...)
	-webkit-transform: $values
	-moz-transform: $values
	-ms-transform: $values
	transform: $values

=filter($values...)
	-webkit-filter: $values
	filter: $values

=gradient($deg, $color_A, $color_B)
	background: $color_A
	background: -moz-linear-gradient($deg, $color_A 0%, $color_B 100%)
	background: -webkit-gradient($deg, color-stop(0%, $color_A), color-stop(100%, $color_B))
	background: -webkit-linear-gradient($deg, $color_A 0%, $color_B 100%)
	background: -o-linear-gradient($deg, $color_A 0%, $color_B 100%)
	background: -ms-linear-gradient($deg, $color_A 0%, $color_B 100%)
	background: linear-gradient($deg, $color_A 0%, $color_B 100%)
	@if $deg >=0 and $deg <=90
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$color_A}', endColorstr='#{$color_B}', GradientType=0 )
	@if $deg >=91 and $deg <=180
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$color_A}', endColorstr='#{$color_B}', GradientType=1 )
	@if $deg >=181 and $deg <=270
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$color_B}', endColorstr='#{$color_A}', GradientType=0 )
	@if $deg >=271 and $deg <=360
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$color_B}', endColorstr='#{$color_A}', GradientType=1 )

=gradientMask($deg, $color_A, $color_B)
	background-image: -moz-linear-gradient($deg, $color_A 0%, $color_B 100%)
	background-image: -webkit-gradient($deg, color-stop(0%, $color_A), color-stop(100%, $color_B))
	background-image: -webkit-linear-gradient($deg, $color_A 0%, $color_B 100%)
	background-image: -o-linear-gradient($deg, $color_A 0%, $color_B 100%)
	background-image: -ms-linear-gradient($deg, $color_A 0%, $color_B 100%)
	background-image: linear-gradient($deg, $color_A 0%, $color_B 100%)
	color: transparent
	-webkit-background-clip: text
	background-clip: text
	

=opacity($valor: 5)
	filter: alpha(opacity=$valor+'0')
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$valor+'0'})
	@if $valor == 10
		opacity: #{"0."+$valor}
	@if $valor <= 9
		opacity: #{"0."+$valor}

	
//----------- Animacion ----------
=animation($values...)
	-webkit-animation: $values
	-moz-animation: $values
	-o-animation:  $values
	-ms-animation:  $values
	animation:  $values

=animationDelay($values...)
	-webkit-animation-delay: $values
	-moz-animation-delay: $values
	-o-animation-delay:  $values
	-ms-animation-delay:  $values
	animation-delay:  $values

=keyframes($name)
	@-webkit-keyframes #{$name}
		@content
	@-moz-keyframes #{$name}
		@content
	@-o-keyframes #{$name}
		@content
	@-ms-keyframes #{$name}
		@content
	@keyframes #{$name}
		@content


=transition($values...)
	-webkit-transition: $values
	-moz-transition: $values
	-o-transition:  $values
	-ms-transition:  $values
	transition:  $values

=transitionF($values...)
	-webkit-transition-timing-function: $values
	-moz-transition-timing-function: $values
	-o-transition-timing-function:  $values
	-ms-transition-timing-function:  $values
	transition-timing-function:  $values

=fx($elem:all, $time: 0.3s)
	-webkit-transition: $elem $time
	-moz-transition: $elem $time
	-o-transition: $elem $time
	-ms-transition: $elem $time
	transition: $elem $time

=fxS($values...)
	-webkit-transition: $values
	-moz-transition: $values
	-o-transition: $values
	-ms-transition: $values
	transition: $values

=fxr
	-webkit-transition: inherit
	-moz-transition: inherit
	-o-transition: inherit
	-ms-transition: inherit
	transition: inherit

=scrollMobile
	overflow-x: hidden
	overflow-y: scroll
	-webkit-overflow-scrolling: touch

=shadow($type: box , $s1: 2px, $s2: 2px, $s3: 10px, $alpha: rgba(0,0,0,0.5))
	-webkit-box-shadow: $s1 $s2 $s3 $alpha
	-moz-box-shadow: $s1 $s2 $s3 $alpha
	-o-box-shadow: $s1 $s2 $s3 $alpha
	-ms-box-shadow: $s1 $s2 $s3 $alpha
	box-shadow: $s1 $s2 $s3 $alpha

=fawesome($value)
	content: $value
	font-family: "FontAwesome"

=icoShop($value)
	content: $value
	font-family: "icoClaroShop"

=icoSears($value)
	content: $value
	font-family: "icoSears"
	
=calc($propiedad, $exprecion)
	#{$propiedad}: -webkit-calc(#{$exprecion})
	#{$propiedad}: -moz-calc(#{$exprecion})
	#{$propiedad}: calc(#{$exprecion})

=iconBg($img: icon-menu, $ancho: 40px, $alto: 40px)
	content: " "
	display: inline-block
	background: url(img/#{$img}.png) no-repeat
	background-position: 0 0
	width: $ancho
	height: $alto


//---------- Bloque Flex-Box ----------
=flex($imp: '')
	display: -webkit-box #{$imp}
	display: -moz-box #{$imp}
	display: -ms-flexbox #{$imp}
	webkit-display: -webkit-flex #{$imp}
	display: -webkit-flex #{$imp}
	display: flex #{$imp}

=flexReset
	display: block
	webkit-display: block

=flexChild($value: auto)
	-webkit-box-flex: 1
	-moz-box-flex: 1
	-ms-box-flex: 1
	width: $value
	-webkit-flex: 1
	-ms-flex: 1
	flex: 1

=flexDir($dir: row)
	flex-direction: $dir
	-webkit-box-direction: $dir
	-moz-box-direction: $dir
	-ms-box-direction: $dir
	-webkit-flex-direction: $dir
	-ms-flex-direction: $dir

=flexWrap($dir: wrap)
	flex-wrap: $dir
	-webkit-box-wrap: $dir
	-webkit-flex-wrap: $dir
	-ms-flex-wrap: $dir

=flexFlow($dir: wrap)
	-webkit-box-flow: $dir
	-webkit-flex-flow: $dir
	-ms-flex-flow: $dir
	flex-flow: $dir

=alignItem($dir: center)
	align-items: $dir
	-webkit-align-items: $dir
	-ms-flex-align: $dir

=alignCont($dir: flex-start)
	align-content: $dir
	-webkit-align-content: $dir
	-ms-flex-content: $dir

=alignSelf($dir: center)
	align-self: $dir
	-webkit-align-self: $dir
	-ms-flex-self: $dir

=justifyCont($dir: space-between)
	justify-content: $dir
	-webkit-justify-content: $dir
	-moz-justify-content: $dir
	-ms-flex-pack: $dir
	@if $dir == "flex-end"
		-ms-flex-pack: end
	@if $dir == "flex-start"
		-ms-flex-pack: start
	@if $dir == "space-around"
		-ms-flex-pack: justify
	@if $dir == "space-between"
		-ms-flex-pack: justify

=order($dir)
	order: $dir
	-webkit-order: $dir

=placeholder
	&::-webkit-input-placeholder
		@content
	&:-moz-placeholder
		@content
	&::-moz-placeholder
		@content
	&:-ms-input-placeholder
		@content

=check($width: 100px, $height: 100px )
	background-color: $trans
	border: 1px solid $verde
	border-radius: 50%
	width: $width
	height: $height
	&:before
		content: ''
		border: solid $verde
		border-width: 0 1px 1px 0
		display: flex
		padding: 9px
		margin-left: 42px
		margin-top: 19px
		width: 1px
		height: 26px
		transform: rotate(45deg)

//----------- Mediaqueries ----------

//---- iPad Pro 12.9' ----
=ipadProPort
	@media only screen and (min-device-width : 1024px) and (max-device-width : 1366px) and (min-device-height : 1366px) and (max-device-height : 1366px) and (min-width: 1024px) and (max-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) and (device-aspect-ratio: 512/683)
		@content

=ipadProLand
	@media only screen and (min-device-width : 1024px) and (max-device-width : 1366px) and (min-device-height : 1366px) and (max-device-height : 1366px) and (min-width: 1366px) and (max-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) and (device-aspect-ratio: 512/683)
		@content

//- S8
=s8Port
	@media only screen and (min-device-width : 360px) and (max-device-width : 740px) and (min-device-height : 740px) and (max-device-height : 740px) and (min-width: 360px) and (max-width: 360px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 3) and (device-aspect-ratio: 18/37)
		@content

=s8Land
	@media only screen and (min-device-width : 360px) and (max-device-width : 740px)and (min-device-height : 360px) and (max-device-height : 740px)and (min-width: 692px) and (max-width: 740px)   and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 3) and (device-aspect-ratio: 37/18)
		@content

//- Los Demas
=mediaMin1500
	@media only screen and (min-width: 1500px)
		@content

=mediaMin1280
	@media only screen and (min-width: 1280px)
		@content

=mediaMin1162
	@media only screen and (min-width: 1160px)
		@content

=mediaMin1102
	@media only screen and (min-width: 1102px)
		@content
=mediaMax1556
	@media only screen and (max-width: 1556px)
		@content
=mediaMax1500
	@media only screen and (max-width: 1500px)
		@content
=mediaMax1360
	@media only screen and (max-width: 1360px)
		@content

=mediaMax1311
	@media only screen and (max-width: 1311px)
		@content

=mediaMax1024
	@media only screen and (max-width: 1024px)
		@content

=mediaMax1102
	@media only screen and (max-width: 1102px)
		@content

=mediaMax960
	@media only screen and (max-width: 960px)
		@content

=mediaMax780
	@media only screen and (max-width: 780px)
		@content

=mediaMax760
	@media only screen and (max-width: 760px)
		@content

=mediaMax480
	@media only screen and (max-width: 480px)
		@content

=mediaMax320
	@media only screen and (max-width: 320px)
		@content
=mediaMax400
	@media only screen and (max-width: 400px)
		@content