@import '../../../core/sass/fonts';
@import '../../../core/sass/hacks';
@import '../../../core/sass/mixines';
@import '../../../core/sass/variables';

h3
	+bx
	font-size: 18px
	padding: 8px 0px 8px 0px
	line-height: 23px
.borderBdisplay
    border-bottom: 1px solid $blanco
    +mediaMax960
        border-bottom: 1px solid $grisClaro
.flex
	+flex
	width: 100%
.flex-between
	+justifyCont(space-between)
.flex-end
	+justifyCont(flex-end)
.bold
	font-weight: 700 !important
.paddingT_0
	padding-top: 0px !important
.paddingT_25
	padding-top: $min-spacer !important
	+bx
.paddingB_25
	padding-bottom: $min-spacer !important
	+bx
.paddingR_0
	padding-right: 0px !important
.positionR
	position: relative
.positionA
    position: absolute
.top_20
	top: -20px
	right: -2px
.right
	transform: rotate(-45deg)
.width100
	width: 100% !important
.w50
	width: 100px
	+mediaMax480
		width: 100px !important
.table
	display: table-column
	+mediaMax480
		display: contents
.verDesk
	display: block !important
	+mediaMax960
		display: none !important
.verMob
	display: none !important
	+mediaMax960
		display: block !important
//-botones
.btn-blanco
	+btn($bg: $blanco, $color: $grisLabel, $borde: 1px solid $gris, $ancho: table, $border-radius: 4px)
	min-width: 100px
	border: 1px solid $gris !important
	margin: 0px 15px  10px 0px
	+mediaMax480
		min-width: 48%
