@import '../../../core/sass/variables';
@import '../../../core/sass/mixines.sass';
@import  '../../../core/sass/fonts.sass';
@import  '../../../core/sass/hacks';

// ------------seccion header--------------
.sombra
    border-bottom: 1px solid #DDD
    box-shadow: 0 4px 2px -2px #DDD
    -moz-box-sizing: content-box
    -webkit-box-sizing: content-box
    box-sizing: content-box
    background: #fff
.container
    width: 95%
    max-width: 100%
    margin: auto
    +mediaMax960
    	width: 100%
.width100
    width: 100% !important

.back
	cursor: pointer
.back
    position: relative
    +aReset
    &:before
        content: '\f104'
        font-family: 'FontAwesome'
        color: $gris
        position: absolute
        left: $spacer
        top: $min-spacer/2
        font-size: 20px
    &:after
        content: "Regresar"
        position: absolute
        margin-left: 50px
        color: $gris
        margin-top: 10px
        font-size: 15px
        +mediaMax480
.flex
    +flex
    width: 100%
.text-align
    text-align: center !important
    margin: auto
.paddingB_22
    padding-bottom: 22px!important
    +bx
.paddingT_22
    padding-top: 22px!important
    +bx
.paddingL_0
	padding-left: 0px !important
.center
	justify-content: center !important
.borderB
    border-bottom: 1px solid $grisClaro
.white
    background: $blanco
.borderB 
    position: relative
    margin-top: 20px
    h2
        font-size: 1.5rem
        color: #111111
        font-weight: 600
        padding: 0!important
        display: inline-block
        width: calc(100% - 120px)
.marginT_0
    margin-top: 0
.paddingT_19
    padding-top: 19px !important

// -------------------seccion editar-------------------
.flex-between
    justify-content: space-between
    -webkit-justify-content: space-between
    -moz-justify-content: space-between
    -ms-flex-pack: space-between
    -ms-flex-pack: justify
.flex-wrap
    flex-wrap: wrap
    -webkit-box-wrap: wrap
    -webkit-flex-wrap: wrap
    -ms-flex-wrap: wrap
.flex-dir
    flex-direction: row
.flex-end
    +justifyCont(flex-end)
.positionR
    position: relative
.text-bold
    font-weight: 600
.order1
    width: 60%
//-----modulo
.modulo
    margin: 16px auto
    width: 100%
    background-color: white
    padding: 29px
    +bx
    +mediaMax960
    &:first-child
        padding: $spacer
    p
        line-height: 1.5rem

.container
    width: 95%
    max-width: 100%
    margin: auto
    +mediaMax960
    .width60
        width: calc(100% - 490px)
        padding-right: 40px
        .displayMob
            display: none
            +mediaMax960
            width: 100%
            &.order1
                order: 1 !important
            &.order2
                order: 2 !important
            .order1
                order: 1 !important
            .order2
                order: 2 !important
            .displayMob
                display: none !important

// -------detalle de compra------------
.widthMob
    margin-top: -14px
.width40
	width: 420px
	.displayMob
		display: block
	+mediaMax960
		width: 100%
		.displayMob
			display: none !important
		&.order0
           	order: 0 !important
.verMob
	display: none !important
	+mediaMax960
		display: block !important
.sticky
	position: -webkit-sticky
	position: sticky
	top: $spacer
	+mediaMax960
		position: initial
		
.detalleCompra
	display: block
	label
		&:hover
			cursor: pointer
#btn-producto
	+mediaMax960
		&:checked
			+ .productList
				display: block !important
				margin-top: -33px
.productList
	display: block
	+mediaMax960
		display: none
.marginT_32
    margin-top: 32px !important
.padding32
    padding: 32px !important
.paddingB_0
    padding-bottom: 0 !important
.paddingT_0
    padding-top: 0 !important
.padding_25
	padding: $min-spacer !important
	+bx
i
	border: solid $blanco
	border-width: 0 1px 1px 0
	display: inline-block
	padding: 4px
	margin-left: 10px
.down
	position: relative
	&:after
		content: '\f078'
		font-family: 'FontAwesome'
		color: black
		font-size: 12px
		position: absolute
.titulo
    color: black

//-------------- campos formulario --------------
.width30
    width: 31%
    display: inline-table
    // margin-right: 2%
.width30s
    width: 20%
    display: inline-table
.marginR_22
    margin-right: 22px
.width50p
    width: 48%
    display: inline-table
    // margin-right: 2%
.marginR_23
    margin-right: 23px
.marginB_32
	margin-bottom: $spacer !important
.marginT45
	margin-top: -45px !important

.form-row input[type=password]:disabled+label[data-placeholder]:after, 
.form-row input[type=password]:focus+label[data-placeholder]:after,
.form-row input[type=password]:valid+label[data-placeholder]:after, 
.form-row input[type=text]:disabled+label[data-placeholder]:after,
.form-row input[type=text]:focus+label[data-placeholder]:after, 
.form-row input[type=text]:valid+label[data-placeholder]:after, 
.form-row select:disabled+label[data-placeholder]:after, 
.form-row select:focus+label[data-placeholder]:after, 
.form-row select:valid+label[data-placeholder]:after
    -webkit-transform: translate(-5%,-280%) scale(.9,.9)
    transform: translate(-5%,-280%) scale(.9,.9)
    color: #666
    background-color: #fff
.form-row input[type=password]+label[data-placeholder]:after, 
.form-row input[type=text]+label[data-placeholder]:after, 
.form-row select+label[data-placeholder]:after
    content: attr(data-placeholder)
    display: table
    margin-left: 3px
    top: 50%
    left: .2rem
    -webkit-transform: translate(0,-200%)
    transform: translate(0,-200%)
    -webkit-transition: .2s ease-in-out
    transition: .2s ease-in-out
    padding: 0 .25rem
    background-color: #fff!important
.form-row
	margin-bottom: 1.5rem
	position: relative
	label
		+safari10
			position: absolute !important
			left: 0px
			width: 100%
			bottom: 30px
			.informativo
				bottom: 54px
			&.mesLabel
				bottom: 40px
				color: $grisLabel
		+iphone5
			position: absolute !important
			left: 0px
			width: 100%
			bottom: 30px
			&.mesLabel
				bottom: 40px

		+iphone6
			position: absolute !important
			left: 0px
			width: 100%
			bottom: 30px
			&.mesLabel
				bottom: 40px

		+iphone6Plus
			position: absolute !important
			left: 0px
			width: 100%
			bottom: 30px
			&.mesLabel
				bottom: 40px

		+ipad
			position: absolute !important
			left: 0px
			top: 17px
			width: 100%
			bottom: 30px
			&.mesLabel
				bottom: 40px

		+ipad3
			position: absolute !important
			left: 0px
			width: 100%
			bottom: 30px
			&.mesLabel
				bottom: 40px
		&.error
			border: 1px solid $error
			border-radius: 4px
			font-weight: 500
			+placeholder
				font-weight: 500
			+ label
				color: $error
				+safari10
					margin-bottom: 31px !important
				+iphone5
					margin-bottom: 31px !important
				+iphone6
					margin-bottom: 5px !important
				+iphone6Plus
					margin-bottom: 6px !important
				+ipad
					margin-bottom: 12px !important
				+ipad3
					margin-bottom: 5px !important

    select
		+appearance
		border-radius: initial
		background: white
		&:-ms-expand
			display: none
		&:disabled
			background: $blanco
			opacity: 0.4
	input[type="text"], select, input[type="password"]
		width: 100%
		font-size: 16px
		+bx
		padding: 9px
		border: 1px solid $grisClaro
		border-radius: 4px
		transition: all 0.2s ease-in-out
		outline: 0
		+ label[data-placeholder]
			pointer-events: none
			position: relative
			+firefox
				position: absolute
				left: 0px
				top: 40px
				width: 100%
				&:after
					position: relative
					display: block
			&:after
				content: attr(data-placeholder)
				display: table
				margin-left: 3px
				top: 50%
				left: 0.2rem
				transform: translate(0%, -200%)
				transition: all 0.2s ease-in-out
				padding: 0 0.25rem
				background-color: white !important
				+firefox
					transform: translate(0%, -170%)
				+iphone6
					transform: translate(0, -99%)
					background-color: white !important
				+safari9
					transform: translate(0%, -100%)
				+safari10
					transform: translate(0%, -100%)
    
    select
		+appearance
		border-radius: initial
		background: white
		&:-ms-expand
			display: none
		&:disabled
			background: $blanco
			opacity: 0.4
span
	&.select
		> select
			+appearance
			&:-ms-expand
				display: none
			padding-right: 50px!important
		&[class*="g-"]
			&:after
				margin-top: -3px
				margin-right: 5px

span.select
    position: relative
    width: 100%
    display: table
    &:after
        -webkit-box-sizing: border-box
        box-sizing: border-box
        content: ""
        font-family: FontAwesome
        top: 2px
        position: absolute
        right: 0
        font-size: 20px
        border-left: 1px solid #d8d8d8
        padding: 9px 15px
        pointer-events: none
.form-row select 
    width: 100%
    font-size: 16px
    -webkit-box-sizing: border-box
    box-sizing: border-box
    padding: 9px
    border: 1px solid #d8d8d8
    border-radius: 4px
    -webkit-transition: .2s ease-in-out
    transition: .2s ease-in-out
    outline: 0

.cont-validacion
	width: fit-content
	margin: auto
	+mediaMax960
		&:before
			content: ''
			background: $blanco
			display: block
			width: 100vw
			height: 100vh
	p
		margin: 2px
			
.validacion
	border-radius: 4px
	padding: 5px
	margin: $spacer auto $spacer
	margin: $spacer auto $min-spacer
	+mediaMax960
		border-radius: 0px
		margin: 0px
		display: flex
		position: fixed
		width: calc(100vw - 80px)
		height: calc(100vh - 80px)
		outline: 40px solid black
		z-index: 100
		padding: 0
		top: 40px
		left: 40px
		button
			position: absolute
			+center(vh)
			top: 89%
		p
			position: absolute
			color: black
			+center(vh)
			text-align: center
			width: 88%
	+bx
	+flex
	.ico-alert
		&:after
			content: '\f057'
			font-family: 'FontAwesome'
			font-size: 20px
			margin-right: 5px
			margin-left: 5px
		+mediaMax960
			position: absolute
			background-image: url('/assets/error.png')
			background-repeat: no-repeat
			background-size: 50%
			background-position: center center
			width: 100%
			height: 50%
			margin-bottom: 10px
			left: calc(50% - 50%)
			object-fit: scale-down
			&:after
				content: ''


	&.valOrange
		color: #d8000c
		// border: 1px solid #d8000c
		background: #f1dfdf
		+mediaMax960
			background-color: #F5F5F5
			border: 1px solid black
			position: fixed
			color: black
			&.none
				display: none

.none
	+mediaMax480
		display: none
.error
    border: 1px solid #d8000c !important
    border-radius: 4px !important
    font-weight: 500
    + label[data-placeholder]:after
        color: #d8000c !important
.errorTexto
    color: #d8000c
.radio
    label
        color: #666
#titulo2
    color: #666
    margin-left: 6px
.small
	font-size: 12px
.grisTxt
	color: $gris
.displayC
    display: block
.btn-azul
	+btn($bg:#02AA63, $color: $blanco, $borde: 1px solid $blanco, $ancho: table, $border-radius: 4px)
	+gradient(180deg, #02AA63, #029B51)

.btn-rojo
	+btn($bg:$primario, $color: $blanco, $borde: 1px solid $blanco, $ancho: table, $border-radius: 4px)
	min-width: 100px
	// +gradient(180deg, #FE3E4B, #E2241C)
	+mediaMax480
		padding: 0.5rem 1rem
		min-width: 100%
	&.sinAccion
		background: $grisClaro !important
		+mediaMax480
			padding: 0.7rem 3rem
//flecha next
i
	border: solid $blanco
	border-width: 0 1px 1px 0
	display: inline-block
	padding: 4px
	margin-left: 10px

.right
	transform: rotate(-45deg)