<app-path [ruta]="ruta"></app-path>

<div class="container width100 sombra">
  <div class="flex borderB white paddingB_22 marginT_0 paddingT_19">
    <a (click)="goBack()" class="back"></a>
    <h2 class="text-align tituloPrincipal">{{title}}</h2>
  </div>
</div>

<div class="container">
  <div class="flex flex-around flex-wrap flex-dir">

    <div class="marginMob width60 order1">
      <div class="modulo">
        <div class="flex flex-end">
          <p class="small grisTxt">*Campos obligatorios</p>
        </div>

        <div class="flex">
          <p id="titulo2">Datos de quien recibe</p>
        </div>

        <form [formGroup]="formularioDireccion">
          <div class="form-row width30 marginR_22">
            <input type="text" maxlength="25" formControlName="nombre" [(ngModel)]="direccion.nombre"
              [ngClass]="{'error': formularioDireccion.controls['nombre'].invalid && saveClicked || formularioDireccion.controls['nombre'].invalid && formularioDireccion.controls['nombre'].dirty}">
            <label data-placeholder="Nombre*" alt="Label"></label>
          </div>

          <div class="form-row width30 marginR_22">
            <input type="text" maxlength="25" formControlName="apellidoP" [(ngModel)]="direccion.apellidoP"
              [ngClass]="{'error': formularioDireccion.controls['apellidoP'].invalid && saveClicked || formularioDireccion.controls['apellidoP'].invalid && formularioDireccion.controls['apellidoP'].dirty}">
            <label data-placeholder="Apellido Paterno*" alt="Label"></label>
          </div>

          <div class="form-row width30">
            <input type="text" maxlength="25" formControlName="apellidoM" [(ngModel)]="direccion.apellidoM"
              [ngClass]="{'error': formularioDireccion.controls['apellidoM'].invalid && saveClicked || formularioDireccion.controls['apellidoM'].invalid && formularioDireccion.controls['apellidoM'].dirty}">
            <label data-placeholder="Apellido Materno*" alt="Label"></label>
          </div>

          <div class="form-row">
            <input type="text" maxlength="25" formControlName="telefono" [(ngModel)]="direccion.telefono"
              [ngClass]="{'error': formularioDireccion.controls['telefono'].invalid && saveClicked || formularioDireccion.controls['telefono'].invalid && formularioDireccion.controls['telefono'].dirty}">
            <label data-placeholder="Teléfono de Contacto*" alt="Label"></label>
          </div>

          <div class="form-row">
            <input type="text" maxlength="25" formControlName="calle" [(ngModel)]="direccion.calle"
              [ngClass]="{'error': formularioDireccion.controls['calle'].invalid && saveClicked || formularioDireccion.controls['calle'].invalid && formularioDireccion.controls['calle'].dirty}">
            <label data-placeholder="Calle*" alt="Label"></label>
          </div>

          <div class="form-row width50p marginR_23">
            <input type="text" maxlength="25" formControlName="numExterior" [(ngModel)]="direccion.numeroExterior"
              [ngClass]="{'error': formularioDireccion.controls['numExterior'].invalid && saveClicked || formularioDireccion.controls['numExterior'].invalid && formularioDireccion.controls['numExterior'].dirty}">
            <label data-placeholder="Número Exterior*" alt="Label"></label>
          </div>

          <div class="form-row width50p">
            <input type="text" maxlength="25" formControlName="numInterior" [(ngModel)]="direccion.numeroInterior">
            <label data-placeholder="Número Interior" alt="Label"></label>
          </div>

          <!-- <div class="marginT45"> -->
            <!-- mensaje de error C.P. -->
            <div *ngIf="error" class="container width100 marginT45">
              <div class="cont-validacion validacion valOrange  width100" [ngClass]="{'none': !hide }">
                <p><span class="ico-alert"></span> {{ mensajeError }} <span class="bold"></span></p>
              </div>
            </div>

            <div class="form-row width50p marginR_23">
              <input type="text" maxlength="25" formControlName="cp" [(ngModel)]="direccion.codigoPostal"
                [ngClass]="{'error': formularioDireccion.controls['cp'].invalid && saveClicked || formularioDireccion.controls['cp'].invalid && formularioDireccion.controls['cp'].dirty}">
              <label data-placeholder="C.P.*" alt="Label"></label>
            </div>

            <div class="width50p">
              <button class="btn-azul width100 marginB_32" (click)="obtenerZona(direccion.codigoPostal)">Validar Código
                Postal</button>
            </div>
          <!-- </div> -->

          <div class="form-row">
            <span class="select">
              <select name="colonia" formControlName="colonia" [(ngModel)]="direccion.colonia"
                [ngClass]="{'error': formularioDireccion.controls['colonia'].invalid && saveClicked || formularioDireccion.controls['colonia'].invalid && formularioDireccion.controls['colonia'].dirty}">
                <option value="undefined" disabled [attr.selected]="default">Seleccionar</option>
                <option *ngFor="let colo of colonias" [value]="colo"
                  [attr.selected]="direccion.colonia == colo ? true : null"> {{colo}} </option>
              </select>
              <label data-placeholder="Colonia*" alt="Label"></label>
            </span>

          </div>

          <div class="form-row">
            <input type="text" maxlength="25" formControlName="municipio" [(ngModel)]="direccion.municipio"
              [ngClass]="{'error': formularioDireccion.controls['municipio'].invalid && saveClicked || formularioDireccion.controls['municipio'].invalid && formularioDireccion.controls['municipio'].dirty}">
            <label data-placeholder="Municipio o Delegación*" alt="Label"></label>
          </div>

          <div class="form-row">
            <input type="text" maxlength="25" formControlName="estado" [(ngModel)]="direccion.estado"
              [ngClass]="{'error': formularioDireccion.controls['estado'].invalid && saveClicked || formularioDireccion.controls['estado'].invalid && formularioDireccion.controls['estado'].dirty}">
            <label data-placeholder="Estado*" alt="Label"></label>
          </div>

          <div class="form-row">
            <input type="text" maxlength="25" formControlName="ciudad" [(ngModel)]="direccion.ciudad"
              [ngClass]="{'error': formularioDireccion.controls['ciudad'].invalid && saveClicked || formularioDireccion.controls['ciudad'].invalid && formularioDireccion.controls['ciudad'].dirty}">
            <label data-placeholder="Ciudad*" alt="Label"></label>
          </div>

          <div class="form-row width50p marginR_23">
            <input type="text" maxlength="25" formControlName="entreCalles" [(ngModel)]="direccion.entreCalles">
            <label data-placeholder="Entre calle" alt="Label"></label>
          </div>

          <div class="form-row width50p">
            <input type="text" maxlength="25" formControlName="yCalle" [(ngModel)]="yCalle">
            <label data-placeholder="y calle" alt="Label"></label>
          </div>

          <div class="form-row">
            <input type="text" maxlength="25" formControlName="referencias" [(ngModel)]="direccion.referencias">
            <label data-placeholder="Referencias" alt="Label"></label>
          </div>

          <div class="form-row">
            <input type="text" maxlength="25" formControlName="personaAutorizada" [(ngModel)]="personaAutorizada"
              [ngClass]="{'error': formularioDireccion.controls['personaAutorizada'].invalid && saveClicked || formularioDireccion.controls['personaAutorizada'].invalid && formularioDireccion.controls['personaAutorizada'].dirty}">
            <label data-placeholder="Persona autorizada para recibir el pedido*" alt="Label"></label>
          </div>

          <div class="form-row radio">
            <div class="displayB">
              <label>La entrega es en
                <span
                  [ngClass]="{'errorTexto': formularioDireccion.controls['edificacion'].invalid && saveClicked || formularioDireccion.controls['edificacion'].invalid && formularioDireccion.controls['edificacion'].dirty}">*</span>
              </label>
            </div>

            <div class="width30s">
              <input id="casa" type="radio" value="1" name="edificacion" formControlName="edificacion">
              <label>Casa</label>
            </div>
            <div class="width30s">
              <input id="edificio" required type="radio" value="2" name="edificacion" formControlName="edificacion">
              <label>Edificio</label>
            </div>
            <div class="width30s">
              <input id="oficina" type="radio" value="3" name="edificacion" formControlName="edificacion">
              <label>Oficina</label>
            </div>
          </div>

          <div class="form-row radio">
            <div class="displayB">
              <label>Nivel
                <span
                  [ngClass]="{'errorTexto': formularioDireccion.controls['nivel'].invalid && saveClicked || formularioDireccion.controls['nivel'].invalid && formularioDireccion.controls['nivel'].dirty}">*</span>
              </label>
            </div>

            <div class="width30s">
              <input required id="casa" type="radio" value="1" name="nivel" formControlName="nivel">
              <label>PB - Piso 1</label>
            </div>
            <div class="width30s">
              <input required id="edificio" required type="radio" value="2" name="nivel" formControlName="nivel">
              <label>Piso 1 al 5</label>
            </div>
            <div class="width30s">
              <input required id="oficina" type="radio" value="3" name="nivel" formControlName="nivel">
              <label>Piso 6 o más alto</label>
            </div>
          </div>

          <div class="form-row radio">
            <div class="displayB">
              <label>Para entregas de gran volúmen se puede usar
                <span
                  [ngClass]="{'errorTexto': formularioDireccion.controls['forma'].invalid && saveClicked || formularioDireccion.controls['forma'].invalid && formularioDireccion.controls['forma'].dirty}">*</span>
              </label>
            </div>

            <div class="width30s">
              <input required id="casa" type="radio" value="1" name="forma" formControlName="forma">
              <label>Escaleras</label>
            </div>
            <div class="width30s">
              <input required id="edificio" required type="radio" value="2" name="forma" formControlName="forma">
              <label>Elevador</label>
            </div>
            <div class="width30s">
              <input required id="oficina" type="radio" value="3" name="forma" formControlName="forma">
              <label>Volado</label>
            </div>
          </div>

        </form>

      </div>
      <div class="cont-btn">
        <button type="submit" class="btn-rojo text-align" (click)="save()">Continuar <i class="right"></i></button>
      </div>
    </div>

    <!-- modulo1 detalle compra-->
    <div class="width40  widthMob">
      <div class="sticky">
        <div class="marginT_32">
          <div class="detalleCompra">
            <label for="btn-producto" class="verMob modulo padding_25 borderB">
              <div class="flex flex-between ">
                <span>Resumen de compra </span>
                <i class="down"></i>
              </div>
            </label>
            <input type="checkbox" id="btn-producto" hidden>

            <div class="productList modulo padding32 paddingB_0 paddingT_0">
              <div class="flex borderB white">
                <h3 id="titulo">{{ title3 }}</h3>
              </div>
              <app-resumen-compra #detalle></app-resumen-compra>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>